/*------------------------------------*\
  模拟器
\*------------------------------------*/

/*------------------------------------*\
  主题
\*------------------------------------*/

:root {
    --primary-color: #3949AB;
}

footer .left {
    --primary-color: #8e24aa;
}

.CMD-content>.app-bar>button, footer {
    --states-parameter: 2;
}

@media (prefers-color-scheme: dark) {
    body>aside>nav, .content-body {
        --primary-color: #9FA8DA;
    }
    .diagram {
        --secondary-color: #90CAF9;
    }
}