/*------------------------------------*\
  正文
\*------------------------------------*/

/*------------------------------------*\
  主题
\*------------------------------------*/

:root {
  --primary-color: #AD1457;
}

.CMD-content>.app-bar>button, footer {
  --states-parameter: 2;
}

footer .right {
  --primary-color: #00897b;
}