/*------------------------------------*\
  正文
\*------------------------------------*/



/*------------------------------------*\
  主题
\*------------------------------------*/

:root {
    --primary-color: #AD1457;
}

.CMD-content>.app-bar>button, footer {
    --states-parameter: 2;
}

@media (prefers-color-scheme: dark) {
  body>aside>nav, .content-body {
    --primary-color: #E91E63;
  }
}