<!DOCTYPE html>
<html lang="zh-Hans">
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" content="#212121" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>质感设计 - 架构方法</title>
        <base href="../" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Roboto+Mono:wght@500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="icon" href="global/resources/favicon.svg" />
        <link rel="stylesheet" href="layout/styles/principles.css" />
        <link rel="stylesheet" href="global/styles/global.css" />
        <script type="module" src="global/scripts/global.js"></script>
    </head>

    <body>
        <main>
            <div class="content">
                <header>
                    <h2 class="display1">架构方法</h2>
                    <p class="title">质感设计以印刷设计为指导，灵活运用基线网格与结构模型等排印工具，有序地划分层级、传达意义，为用户打造焦点明确的沉浸体验。同时鼓励以复用视觉要素、结构组织、间距的方式保持应用在不同设备、平台上的一致性，并简化设计适配的流程。</p>
                </header>
                <nav>
                    <h3 class="body1">索引</h3>
                    <ul class="title">
                        <li><a href="layout/principles.html#paper">层面铺排</a></li>
                        <li><a href="layout/principles.html#ink">内容填充</a></li>
                    </ul>
                </nav>
                <article id="paper" class="horizontal">
                    <h3 class="headline">层面铺排</h3>
                    <section>
                        <article class="body1 intro">
                            <p>Material 层面模仿纸张作为内容载体，自然的将整个界面的内容进行了分组。承载层之间的层叠、分合影响内容之间的轻重、聚散。</p>
                        </article>
                    </section>
                    <section>
                        <article class="body1">
                            <h4 class="title">接续</h4>
                            <p>共用同一边缘的 Material 层面是<strong>接续</strong>的，它们成一个整体进行移动。</p>
                        </article>
                        <figure id="seams">
                            <div class="diagram">
                                <div class="divider vertical"></div>
                                <div class="divider horizontal"></div>
                            </div>
                            <figcaption class="body1">
                                <p class="body1">接续的 Material 层面具有缝隙。</p>
                            </figcaption>
                        </figure>
                    </section>
                    <section>
                        <article class="body1">
                            <h4 class="title">分离</h4>
                            <p>处于不同海拔高度的 Material 层面是<strong>分离</strong>的，它们的移动相互独立。</p>
                        </article>
                        <figure id="steps">
                            <div class="diagram">
                                <div class="surface"></div>
                                <div class="surface"></div>
                            </div>
                            <figcaption class="body1">
                                <p class="body1">分离的 Material 层面具有阴影。</p>
                            </figcaption>
                        </figure>
                    </section>
                </article>
                <hr class="divider horizontal" />
                <article id="ink" class="horizontal">
                    <h3 class="headline">内容填充</h3>
                </article>
            </div>

            <footer class="dark">
                <a states class="left light" href="material-design/elevation-shadows.html">
                    <span class="material-icons">arrow_back</span>
                    <span class="subheading"
                        >上一节
                        <span class="title">层级与阴影</span>
                    </span>
                </a>
                <a states class="right" href="layout/units-measurements.html">
                    <span class="subheading"
                        >下一节
                        <span class="title">单位与度量方法</span>
                    </span>
                    <span class="material-icons">arrow_forward</span>
                </a>
            </footer>

            <div class="app-bar prominent dark">
                <div class="surface"></div>
                <div class="start">
                    <button id="drawer-trigger" class="icon-button unbounded" tabindex="1">
                        <span class="material-icons">menu</span>
                    </button>
                </div>
                <h1>布局</h1>
                <div class="end">
                    <button id="search-trigger" class="icon-button unbounded" disabled="true">
                        <span class="material-icons">search</span>
                    </button>
                </div>
            </div>
        </main>

        <aside class="drawer-container">
            <div class="scrim" fill></div>
            <nav class="drawer body1">
                <figure>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="12" />
                        <rect fill="#BDBDBD" x="3.5150809" y="3.5150809" width="16.9698048" height="16.9698048" />
                        <polygon fill="#FFFFFF" points="11.9999838,20.4848862 3.5150809,3.5150809 20.4848862,3.5150809 " />
                    </svg>
                    <figcaption class="subheading">MATERIAL DESIGN</figcaption>
                </figure>
                <hr class="divider horizontal" />
                <ul>
                    <li>
                        <span states class="body2" tabindex="0">基本原理</span>
                        <ul>
                            <li states><a href="index.html">概述</a></li>
                            <li states><a href="material-design/environment.html">环境</a></li>
                            <li states><a href="material-design/material-properties.html">Material 属性</a></li>
                            <li states><a href="material-design/elevation-shadows.html">层级与阴影</a></li>
                        </ul>
                    </li>
                    <li>
                        <span states class="body2" tabindex="0">布局</span>
                        <ul class="on unfolded">
                            <li states class="activated">架构方法</li>
                            <li states><a href="layout/units-measurements.html">单位与度量方法</a></li>
                            <li states><a href="layout/spacing-methods.html">元素排布</a></li>
                            <li states><a href="layout/structure.html">界面结构</a></li>
                            <li states><a href="layout/responsive-ui.html">响应式界面</a></li>
                            <li states><a href="layout/density.html">元素密度</a></li>
                        </ul>
                    </li>
                    <li>
                        <span states class="body2" tabindex="0">风格样式</span>
                        <ul>
                            <li states><a href="style/color.html">颜色</a></li>
                            <li states><a href="style/icons.html">图标</a></li>
                            <li states><a href="style/imagery.html">图像</a></li>
                            <li states><a href="style/typography.html">字体排印</a></li>
                            <li states><a href="style/writing.html">书面用语</a></li>
                            <li states><a href="style/sound.html">声音</a></li>
                        </ul>
                    </li>
                    <li>
                        <span states class="body2" tabindex="0">动画效果</span>
                        <ul>
                            <li states><a href="motion/material-motion.html">运动机理</a></li>
                            <li states><a href="motion/movement.html">移动</a></li>
                            <li states><a href="motion/transforming-material.html">转换</a></li>
                            <li states><a href="motion/choreography.html">编排</a></li>
                            <li states><a href="motion/responsive-interaction.html">作用反馈</a></li>
                            <li states><a href="motion/creative-customization.html">创意定制</a></li>
                        </ul>
                    </li>
                    <li>
                        <span states class="body2" tabindex="0">组件</span>
                        <ul>
                            <li states><a href="components/bottom-navigation.html">底部导航</a></li>
                            <li states><a href="components/buttons.html">按钮</a></li>
                            <li states><a href="components/buttons-floating-action-button.html">按钮：浮动操作按钮</a></li>
                            <li states><a href="components/cards.html">卡片</a></li>
                            <li states><a href="components/chips.html">多用标签</a></li>
                            <li states><a href="components/data-tables.html">数据表格</a></li>
                            <li states><a href="components/dividers.html">分隔线</a></li>
                            <li states><a href="components/dialogs.html">对话框</a></li>
                            <li states><a href="components/dialogs-pickers.html">对话框：选择器</a></li>
                            <li states><a href="components/lists.html">列表</a></li>
                            <li states><a href="components/menus.html">菜单</a></li>
                            <li states><a href="components/progress-indicators.html">进程指示器</a></li>
                            <li states><a href="components/selection-controls.html">选择控件</a></li>
                            <li states><a href="components/sheets-bottom.html">底部单页</a></li>
                            <li states><a href="components/sheets-side.html">侧边单页</a></li>
                            <li states><a href="components/sheets-navigation-drawer.html">侧边单页：导航抽屉</a></li>
                            <li states><a href="components/sliders.html">滑块</a></li>
                            <li states><a href="components/snackbars.html">条形通知</a></li>
                            <li states><a href="components/tabs.html">标签栏</a></li>
                            <li states><a href="components/text-fields.html">文本框</a></li>
                            <li states><a href="components/toolbars.html">工具栏</a></li>
                            <li states><a href="components/widgets.html">桌面小部件</a></li>
                        </ul>
                    </li>
                    <li>
                        <span states class="body2" tabindex="0">交互模式</span>
                        <ul>
                            <li states><a href="patterns/confirmation-acknowledgement.html">确认与获知</a></li>
                            <li states><a href="patterns/data-display.html">数据展示</a></li>
                            <li states><a href="patterns/empty-states.html">空状态</a></li>
                            <li states><a href="patterns/errors.html">错误提示</a></li>
                            <li states><a href="patterns/fingerprint.html">指纹识别</a></li>
                            <li states><a href="patterns/gestures.html">手势</a></li>
                            <li states><a href="patterns/help-feedback.html">帮助与反馈</a></li>
                            <li states><a href="patterns/launch-screens.html">启动画面</a></li>
                            <li states><a href="patterns/navigation.html">导航</a></li>
                            <li states><a href="patterns/notifications.html">通知</a></li>
                            <li states><a href="patterns/offline-states.html">离线状态</a></li>
                            <li states><a href="patterns/permissions.html">权限</a></li>
                            <li states><a href="patterns/search.html">搜索</a></li>
                            <li states><a href="patterns/selection.html">选择</a></li>
                            <li states><a href="patterns/settings.html">设置</a></li>
                            <li states><a href="patterns/states.html">交互状态</a></li>
                            <li states><a href="patterns/swipe-to-refresh.html">下滑刷新</a></li>
                        </ul>
                    </li>
                    <li>
                        <span states class="body2" tabindex="0">可用性</span>
                        <ul>
                            <li states><a href="usability/accessibility.html">无障碍</a></li>
                            <li states><a href="usability/bidirectionality.html">阅读方向</a></li>
                        </ul>
                    </li>
                    <li>
                        <span states class="body2" tabindex="0">发展与用户教育</span>
                    </li>
                    <li>
                        <span states class="body2" tabindex="0">资源</span>
                    </li>
                    <li>
                        <span states class="body2" tabindex="0">附录</span>
                    </li>
                </ul>
            </nav>
            <div class="divider vertical"></div>
        </aside>
    </body>
</html>
