/*------------------------------------*\
  正文
\*------------------------------------*/

/*------------------------------------*\
  模拟器
\*------------------------------------*/

/*------------------------------------*\
  主题
\*------------------------------------*/

:root {
  --primary-color: #8e24aa;
}

footer .left {
  --primary-color: #00897b;
}

@media (prefers-color-scheme: dark) {
  .CMD-drawer, .content-body {
    --primary-color: #BA68C8;
  }
}