/*------------------------------------*\
  正文
\*------------------------------------*/

table {
  grid-column-end: span min(var(--max-block), 2);
}

/*------------------------------------*\
  模拟器
\*------------------------------------*/

/*------------------------------------*\
  主题
\*------------------------------------*/

:root {
  --primary-color: #8e24aa;
}

footer .left {
  --primary-color: #00897b;
}

@media (prefers-color-scheme: dark) {
  body>aside>nav, .content-body {
    --primary-color: #BA68C8;
  }
}