/*------------------------------------*\
  按钮
\*------------------------------------*/

button {
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    text-transform: uppercase;
    display: inline-flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

/*------------------------------------*\
  按钮
\*------------------------------------*/

.text-button {
    --states-base-color: currentColor;
    min-width: 64px;
    height: 36px;
    padding: 0 8px;
    border-radius: 2px;
    color: var(--accent-color);
}

.text-button[class~=contained] {
    background-color: var(--accent-color);
    color: inherit;
    box-shadow: var(--shadow-z2);
}

.icon-button {
    padding: 12px;
}

.icon {
    display: flex;
    width: 24px;
    height: 24px;
}

.icon path {
    fill: currentColor;
}

.icon-button[class~=narrow] span {
    width: 12px;
}

.fab {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: var(--secondary-text-color);
    background-color: var(--accent-color, var(--surface-background-color));
    box-shadow: var(--shadow-z6);
    transition-property: box-shadow;
    transition-duration: 195ms;
    transition-timing-function: var(--standard-curve);
}

.fab[class~=mini] {
    width: 40px;
    height: 40px;
}

.fab[class~=pressed] {
    transition-duration: 225ms;
    box-shadow: var(--shadow-z12);
}

/*------------------------------------*\
  主题
\*------------------------------------*/

.fab::after, .text-button[class~=contained]::after {
    border-top-color: var(--surface-hint-color, rgba(255, 255, 255, 0.4));
    border-bottom-color: var(--surface-shade-color, rgba(33, 33, 33, 0.1));
}

@media (prefers-color-scheme: dark) {
    .fab, .text-button[class~=contained] {
        --surface-hint-color: rgba(255, 255, 255, 0.2);
        --surface-shade-color: rgba(0, 0, 0, 0.2);
    }
}