/*------------------------------------*\
  导航抽屉
\*------------------------------------*/

.drawer-container {
    --states-overlay-level: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}

.drawer {
    position: relative;
    width: calc(100% - var(--increment));
    max-width: 320px;
    background-color: var(--high-emphasis-surface-color);
    box-shadow: var(--shadow-z16);
    display: flex;
    flex-direction: column;
}

.drawer .header {
    position: relative;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.drawer .header img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.drawer .header .list[one] {
    grid-template-columns: auto 48px;
    padding-left: var(--keyline);
    padding-right: calc(var(--keyline) / 2 - 4px);
}

.drawer .header .list[one] span {
    color: var(--primary-text-color);
}

.drawer .header .avatar {
    width: 64px;
    height: 64px;
    margin: 0 var(--keyline);
}

.drawer nav {
    padding: 8px 0;
}

.drawer nav a {
    position: relative;
    height: 48px;
    grid-template-columns: 56px auto;
    padding: 0 var(--keyline);
}

/*------------------------------------*\
  特别修改
\*------------------------------------*/

.drawer .status-bar-background {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.drawer .header .avatar {
    margin-top: calc(24px + var(--keyline));
}