/*------------------------------------*\
  状态
\*------------------------------------*/

*[states]::before, button::before {
    content: "";
    z-index: var(--states-overlay-level, -1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    background-color: var(--states-base-color);
    opacity: calc((0.04 * var(--hover-parameter, 0) + 0.12 * var(--focus-parameter, 0) + 0.08 * var(--selected-parameter, 0) + 0.12 * var(--activate-parameter, 0) + 0.04 * var(--ripple-background-parameter, 0) + 0.08 * var(--dragged-parameter, 0)) * var(--states-parameter, 1));
    transition-property: opacity;
    transition-duration: 195ms;
    transition-timing-function: linear;
}

.unbounded {
    overflow: visible;
}

.unbounded::before {
    top: unset;
    left: unset;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

*:hover::before, *:focus-visible::before, .hovered, .focused {
    transition-duration: 225ms;
}

@media (hover: hover) {
    *[states]:hover, button:hover {
        --hover-parameter: 1;
    }
}

*:focus-visible, .focused {
    --focus-parameter: 1;
}

.selected {
    --selected-parameter: 1;
}

.selected::before {
    background-color: var(--primary-color, --states-base-color);
}

.activated {
    --activate-parameter: 1;
}

.tab-bar .activated {
    --activate-parameter: 0;
}

.pressed {
    --ripple-background-parameter: 1;
}

.dragged {
    --hover-parameter: 0;
    --focus-parameter: 0;
    --ripple-background-parameter: 0;
    --dragged-parameter: 1;
}

*[disabled] {
    color: var(--hint-text-color);
    pointer-events: none;
    cursor: default;
}

/*------------------------------------*\
  涟漪
\*------------------------------------*/

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    overflow: hidden;
    pointer-events: none;
}

.unbounded>.ripples {
    top: unset;
    left: unset;
    overflow: visible;
}

.ripples .foreground {
    position: absolute;
    width: min(var(--diameter), 700px);
    height: auto;
    aspect-ratio: 1/1;
    background-color: var(--states-base-color);
    border-radius: 50%;
}

.unbounded .foreground {
    width: 100%;
}

.ripples .foreground {
    animation-name: rippleForegroundFadeOut;
    animation-duration: 400ms;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes rippleForegroundFadeOut {
    0% {
        opacity: var(--ripple-foreground-alpha, 0.16);
    }
    100% {
        opacity: 0;
    }
}

/*------------------------------------*\
  特别修改
\*------------------------------------*/

button:not(.unbounded) .ripples .foreground {
    width: min(calc(var(--diameter) * min(var(--ripple-expand-parameter), 1.5)), 700px);
}

/*------------------------------------*\
  主题
\*------------------------------------*/

@media (prefers-color-scheme: light) {
    :root {
        --theme-base-color: #ffffff;
        --states-base-color: #000000;
    }
}

.light {
    --theme-base-color: #ffffff;
    --states-base-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-base-color: #000000;
        --states-base-color: #ffffff;
    }
}

.dark {
    --theme-base-color: #000000;
    --states-base-color: #ffffff;
}