<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#212121">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>质感设计 - 按钮</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Roboto+Mono:wght@500&family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../global/logo.svg">
    <link rel="stylesheet" href="./styles/buttons.css">
    <link rel="stylesheet" href="../global/styles/global.css">
    <script defer src="../global/scripts/global.js"></script>
    <script defer src="../global/scripts/components.js"></script>
</head>

<body>
    <div class="CMD-drawer-wrapper">
        <aside class="CMD-drawer">
            <figure>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="12" />
                    <path fill="#BDBDBD" d="M3.6,3.6h16.8v16.8H3.6V3.6z" />
                    <path fill="#ffffff" d="M20.4,3.6L12,20.4L3.6,3.6H20.4z" />
                </svg>
                <figcaption class="subheading">MATERIAL DESIGN</figcaption>
            </figure>
            <hr class="divider horizontal">
            <nav class="body1">
                <span states class="body2" tabindex="0">基本原理</span>
                <a states href="../index.html">概述</a>
            </nav>
            <nav class="body1">
                <span states class="body2" tabindex="0">组件</span>
                <a states class="activated">按钮</a>
                <a states href="../components/buttons-floating-action-button.html">按钮：浮动操作按钮</a>
                <a states href="../components/dialogs.html">对话框</a>
                <a states href="../components/snackbars.html">条形通知</a>
            </nav>
        </aside>
        <div class="divider vertical"></div>
    </div>
    <main class="CMD-content">
        <div class="content-body">
            <header>
                <h4>按钮</h4>
                <p class="title">按钮是用户触发应用进程的一种媒介。</p>
            </header>
            <nav class="chapter-catalogue">
                <span class="body1">索引</span>
                <ul class="title">
                    <li><a href="#usage">用法</a></li>
                    <li><a href="#flat-buttons">扁平按钮</a></li>
                    <li><a href="#raised-buttons">悬浮按钮</a></li>
                    <li><a href="#toggle-buttons">切换按钮</a></li>
                    <li><a href="#specs">样式</a></li>
                </ul>
            </nav>
            <article id="usage" class="horizontal">
                <h5>用法</h5>
                <section>
                    <article class="body1">
                        <h6>类型与权重</h6>
                        <p>在质感设计中，按钮主要有如下四种类型：</p>
                        <ul>
                            <li><strong>扁平按钮</strong>仅包含字符，通常用于无强调按钮必要的情境。</li>
                            <li><strong>悬浮按钮</strong>自带承载层，用于需要强调按钮的情境。</li>
                            <li><strong>浮动操作按钮</strong>进一步强调自身，代表一个界面中最主要的操作。</li>
                            <li><strong>切换按钮</strong>通常运用于按钮组中，同时还表示功能的状态。</li>
                        </ul>
                    </article>
                    <div id="flat-button-example" class="diagram-wrapper" screen="mobile">
                        <div class="simulator" map="main">
                            <div class="application">
                                <div class="map-wrapper">
                                    <img src="../resources/map.jpg">
                                </div>
                                <div class="search-bar">
                                    <button class="icon-button unbounded" tabindex="-1">
                                        <span class="material-icons">menu</span>
                                    </button>
                                    <input class="subheading" type="text" placeholder="搜索" tabindex="-1">
                                    <button class="icon-button unbounded" tabindex="-1">
                                        <span class="material-icons">mic</span>
                                    </button>
                                </div>
                                <button id="directions" class="fab" tabindex="-1">
                                    <span class="material-icons">directions</span>
                                </button>
                                <button id="my-location" class="fab" tabindex="-1">
                                    <span class="material-icons">my_location</span>
                                </button>
                                <div class="system-layer">
                                    <div class="status-bar-background"></div>
                                    <div class="dialog-wrapper">
                                        <div class="dialog">
                                            <span class="title">要使用位置信息服务吗？</span>
                                            <div class="content">
                                                <p class="subheading">
                                                    使用位置信息服务能帮助应用更快更准确地找到你的位置。即使你的设备上未运行任何应用，该服务也可能会收集此类数据。
                                                </p>
                                            </div>
                                            <div class="actions">
                                                <button class="text-button body2" tabindex="-1">同意</button>
                                                <button class="text-button body2" tabindex="-1">拒绝</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navigation-bar-background"></div>
                                </div>
                            </div>
                            <div class="system-bars">
                                <div class="status-bar">
                                    <div class="system">
                                        <span id="wifi" class="material-icons">signal_wifi_4_bar</span>
                                        <span id="signal" class="material-icons">signal_cellular_4_bar</span>
                                        <span id="battery" class="extra-material-icons">system_battery</span>
                                        <span id="time" class="body2">12:30</span>
                                    </div>
                                </div>
                                <div class="navigation-bar">
                                    <span id="back" class="extra-material-icons">system_back</span>
                                    <span id="home" class="extra-material-icons">system_home</span>
                                    <span id="recent" class="extra-material-icons">system_recent</span>
                                </div>
                            </div>
                        </div>
                        <p class="body1">扁平按钮在对话框中的运用。</p>
                    </div>
                    <div id="rised-button-example" class="diagram-wrapper" screen="mobile">
                        <div class="simulator" settings="app-info">
                            <div class="application">
                                <ul>
                                    <li class="list" three>
                                        <span class="thumbnail"
                                            style="background-image: url(../resources/product_icons/phone.png);"></span>
                                        <span class="primary-text subheading">电话
                                            <span class="secondary-text body1">版本 3.0.0<br>com.android.dialer</span>
                                        </span>
                                    </li>
                                    <div class="buttons-wrapper">
                                        <button class="text-button contained body2" tabindex="-1">强制停止</button>
                                        <button class="text-button contained body2" tabindex="-1">卸载</button>
                                    </div>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="primary-text subheading">通知<span class="secondary-text body1">每周大约
                                                2 条通知</span></span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="primary-text subheading">权限<span
                                                class="secondary-text body1">电话、短信、麦克风、通话记录、通讯录、位置信息</span></span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="primary-text subheading">存储和缓存<span
                                                class="secondary-text body1">内部存储空间已使用 50.57 MB</span></span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="primary-text subheading">移动数据和 WLAN<span
                                                class="secondary-text body1">自3月13日以来已使用 37.27 KB</span></span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="primary-text subheading">设备使用时间<span
                                                class="secondary-text body1">今天使用了 51 分钟</span></span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                </ul>
                                <div class="app-bar dark">
                                    <div class="start">
                                        <button class="icon-button unbounded" tabindex="-1">
                                            <span class="material-icons">arrow_back</span>
                                        </button>
                                        <span class="title">应用信息</span>
                                    </div>
                                </div>
                                <div class="system-layer">
                                    <div class="status-bar-background"></div>
                                    <div class="navigation-bar-background"></div>
                                </div>
                            </div>
                            <div class="system-bars">
                                <div class="status-bar">
                                    <div class="system">
                                        <span id="wifi" class="material-icons">signal_wifi_4_bar</span>
                                        <span id="signal" class="material-icons">signal_cellular_4_bar</span>
                                        <span id="battery" class="extra-material-icons">system_battery</span>
                                        <span id="time" class="body2">12:30</span>
                                    </div>
                                </div>
                                <div class="navigation-bar">
                                    <span id="back" class="extra-material-icons">system_back</span>
                                    <span id="home" class="extra-material-icons">system_home</span>
                                    <span id="recent" class="extra-material-icons">system_recent</span>
                                </div>
                            </div>
                        </div>
                        <p class="body1">悬浮按钮明显区别于其它文本。</p>
                    </div>
                    <div id="fab-example" class="diagram-wrapper" screen="mobile">
                        <div class="simulator" inbox="main">
                            <div class="application">
                                <div class="app-bar light">
                                    <div class="start">
                                        <button class="icon-button unbounded" tabindex="-1">
                                            <span class="material-icons">menu</span>
                                        </button>
                                        <span class="title">Inbox</span>
                                    </div>
                                    <div class="end">
                                        <button class="icon-button unbounded" tabindex="-1">
                                            <span class="material-icons">search</span>
                                        </button>
                                    </div>
                                </div>
                                <ul class="group">
                                    <div class="surfaces">
                                        <div class="start"></div>
                                        <div class="center"></div>
                                        <div class="end"></div>
                                    </div>
                                    <li class="subheader">
                                        <span class="body2">今天</span>
                                    </li>
                                    <li class="list" two>
                                        <span class="avatar" character="ali-connors"
                                            style="background-image: url(../resources/faces/ali_connors.png);"></span>
                                        <span class="primary-text subheading">Brunch this weekend?
                                            <p class="secondary-text body1">Ali Connors
                                                <span> — I’ll be in your neighborhood doing errands this weekend if you
                                                    want to meet up for brunch. Let me know.</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/jonathan_lee.jpg);"></span>
                                        <span class="primary-text subheading">Summer BBQ
                                            <p class="secondary-text body1">至 Alex, Scott, Jennifer
                                                <span> — Wish I could come, but I’m out of town this weekend.</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/sandra_adams.jpg);"></span>
                                        <span class="primary-text subheading">Oui oui
                                            <p class="secondary-text body1">Sandra Adams
                                                <span> — Do you have Paris recommendations? Have you ever been? (I’m
                                                    sure I’ve asked you this…</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/trevor_hansen.jpg);"></span>
                                        <span class="primary-text subheading">Birthday gift
                                            <p class="secondary-text body1">Trevor Hansen
                                                <span> — Have any ideas about what to get Heidi for her birthday?</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/britta_holt.jpg);"></span>
                                        <span class="primary-text subheading">Recipe to try
                                            <p class="secondary-text body1">Britta Holt
                                                <span> — We should eat this: Grated Squash, Corn and Tomatillo
                                                    tacos.</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/david_park.jpg);"></span>
                                        <span class="primary-text subheading">Giants game
                                            <p class="secondary-text body1">David Park
                                                <span> — Any interest in seeing the Giants play next month?</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/scott_masterson.png);"></span>
                                        <span class="primary-text subheading">Montauk weekend
                                            <p class="secondary-text body1">Scott Masterson
                                                <span> — Here are the shots I mentioned from this weekend’s trip.</span>
                                            </p>
                                        </span>
                                    </li>
                                </ul>
                                <button class="fab light" tabindex="-1">
                                    <span class="material-icons">add</span>
                                </button>
                                <div class="system-layer">
                                    <div class="status-bar-background"></div>
                                    <div class="navigation-bar-background"></div>
                                </div>
                            </div>
                            <div class="system-bars">
                                <div class="status-bar">
                                    <div class="system">
                                        <span id="wifi" class="material-icons">signal_wifi_4_bar</span>
                                        <span id="signal" class="material-icons">signal_cellular_4_bar</span>
                                        <span id="battery" class="extra-material-icons">system_battery</span>
                                        <span id="time" class="body2">12:30</span>
                                    </div>
                                </div>
                                <div class="navigation-bar">
                                    <span id="back" class="extra-material-icons">system_back</span>
                                    <span id="home" class="extra-material-icons">system_home</span>
                                    <span id="recent" class="extra-material-icons">system_recent</span>
                                </div>
                            </div>
                        </div>
                        <p class="body1">浮动操作按钮代表了撰写新邮件的操作。</p>
                    </div>
                    <div id="toggle-button-example" class="diagram-wrapper" screen="mobile">
                        <div class="simulator" music="my-library">
                            <div class="application dark">
                                <div class="app-bar">
                                    <div class="start">
                                        <button class="icon-button unbounded" tabindex="-1">
                                            <span class="material-icons">menu</span>
                                        </button>
                                        <span class="title">我的库</span>
                                    </div>
                                    <div class="end">
                                        <button class="icon-button narrow unbounded" tabindex="-1">
                                            <span class="material-icons">more_vert</span>
                                        </button>
                                        <button class="icon-button unbounded" tabindex="-1">
                                            <span class="material-icons">search</span>
                                        </button>
                                    </div>
                                </div>
                                <ul>
                                    <li id="girl" class="large light">
                                        <img src="../resources/albums/girl.jpg">
                                        <div class="list" two="grid">
                                            <span class="primary-text subheading">G I R L<span
                                                class="secondary-text body1">Pharrell Williams</span></span>
                                                <button class="icon-button unbounded meta" tabindex="-1">
                                                    <span class="material-icons">star_border</span>
                                                </button>
                                        </div>
                                        <span class="body1">最近添加</span>
                                    </li>
                                    <li id="in-a-perfect-world">
                                        <img src="../resources/albums/in_a_perfect_world.jpg">
                                        <div class="list" two="grid">
                                            <span class="primary-text subheading">In a Perfect World<span
                                                class="secondary-text body1">Kodaline</span></span>
                                                <button class="icon-button unbounded meta" tabindex="-1">
                                                    <span class="material-icons">star_border</span>
                                                </button>
                                        </div>
                                    </li>
                                    <li id="halcyon-days">
                                        <img src="../resources/albums/halcyon_days.png">
                                        <div class="list" two="grid">
                                            <span class="primary-text subheading">Halcyon Days<span
                                                class="secondary-text body1">Ellie Goulding</span></span>
                                                <button class="icon-button unbounded meta" tabindex="-1">
                                                    <span class="material-icons">star_border</span>
                                                </button>
                                        </div>
                                    </li>
                                    <li id="native">
                                        <img src="../resources/albums/native.jpg">
                                    </li>
                                    <li id="comedown-machine">
                                        <img src="../resources/albums/comedown_machine.jpg">
                                    </li>
                                </ul>
                                <div class="system-layer">
                                    <div class="status-bar-background"></div>
                                    <div class="navigation-bar-background"></div>
                                </div>
                            </div>
                            <div class="system-bars">
                                <div class="status-bar">
                                    <div class="system">
                                        <span id="wifi" class="material-icons">signal_wifi_4_bar</span>
                                        <span id="signal" class="material-icons">signal_cellular_4_bar</span>
                                        <span id="battery" class="extra-material-icons">system_battery</span>
                                        <span id="time" class="body2">12:30</span>
                                    </div>
                                </div>
                                <div class="navigation-bar">
                                    <span id="back" class="extra-material-icons">system_back</span>
                                    <span id="home" class="extra-material-icons">system_home</span>
                                    <span id="recent" class="extra-material-icons">system_recent</span>
                                </div>
                            </div>
                        </div>
                        <p class="body1">切换按钮作为专辑收藏的开关。</p>
                    </div>
                </section>
            </article>
            <hr class="divider horizontal">
            <article id="flat-buttons" class="horizontal">
                <h5>扁平按钮</h5>
            </article>
            <hr class="divider horizontal">
            <article id="raised-buttons" class="horizontal">
                <h5>悬浮按钮</h5>
            </article>
            <hr class="divider horizontal">
            <article id="toggle-buttons" class="horizontal">
                <h5>切换按钮</h5>
            </article>
            <hr class="divider horizontal">
            <article id="specs" class="horizontal">
                <h5>样式</h5>
            </article>
        </div>


        <footer class="dark">
            <a states class="left" href="../components/bottom-navigation.html">
                <span class="material-icons">arrow_back</span>
                <span class="subheading">上一节
                    <span class="title">底部导航</span>
                </span>
            </a>
            <a states class="right" href="../components/buttons-floating-action-button.html">
                <span class="subheading">下一节
                    <span class="title">按钮：浮动操作按钮</span>
                </span>
                <span class="material-icons">arrow_forward</span>
            </a>
        </footer>

        <div id="progress" class="app-bar dark">
            <div class="start">
                <button id="drawer-trigger" class="icon-button unbounded" tabindex="1">
                    <span class="material-icons">menu</span>
                </button>
            </div>
            <span class="title">组件 - 按钮</span>
            <div class="end">
                <button id="search-trigger" class="icon-button unbounded" disabled="true">
                    <span class="material-icons">search</span>
                </button>
            </div>
        </div>
    </main>

</body>

</html>