<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#212121">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>质感设计 - 条形通知</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Roboto+Mono:wght@500&family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../global/logo.svg">
    <link rel="stylesheet" href="./styles/snackbars.css">
    <link rel="stylesheet" href="../global/styles/global.css">
    <script defer src="../global/scripts/global.js"></script>
    <script defer src="../global/scripts/components.js"></script>
    <script defer src="./scripts/snackbars.js"></script>
</head>

<body>
    <div class="CMD-drawer-wrapper">
        <aside class="CMD-drawer">
            <figure>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="12" />
                    <path fill="#BDBDBD" d="M3.6,3.6h16.8v16.8H3.6V3.6z" />
                    <path fill="#ffffff" d="M20.4,3.6L12,20.4L3.6,3.6H20.4z" />
                </svg>
                <figcaption class="subheading">MATERIAL DESIGN</figcaption>
            </figure>
            <hr class="divider horizontal">
            <nav class="body1">
                <span states class="body2" tabindex="0">基本原理</span>
                <a states href="../index.html">概述</a>
            </nav>
            <nav class="body1">
                <span states class="body2" tabindex="0">组件</span>
                <a states href="../components/dialogs.html">对话框</a>
                <a states class="activated" href="../components/snackbars.html">条形通知</a>
            </nav>
        </aside>
        <div class="divider vertical"></div>
    </div>
    <main class="CMD-content">
        <div class="content-body">
            <header>
                <h4>条形通知</h4>
                <p class="title">条形通知显示在屏幕底部，提供有关操作的简短反馈。</p>
            </header>
            <nav class="chapter-catalogue">
                <span class="body1">索引</span>
                <ul class="title">
                    <li><a href="#usage">用法</a></li>
                    <li><a href="#behavior">行为</a></li>
                    <li><a href="#specs">样式</a></li>
                </ul>
            </nav>
            <article id="usage" class="horizontal">
                <h5>用法</h5>
                <section>
                    <article class="body1 intro">
                        <p>条形通知暂时出现在屏幕底部，通知用户应用已执行或将要执行的进程。此类通知不应打断用户操作流程，也不需要用户手动清除。</p>
                    </article>
                </section>
                <section>
                    <article class="body1">
                        <p>条形通知应包含与当前进程直接相关的文本，且尽可能简短，不能包含图标。</p>
                    </article>
                    <div id="only-contains-plain-text" class="diagram-wrapper">
                        <div class="diagram" size="regular">
                            <div class="snackbar">
                                <p class="body1">消息已发送。</p>
                            </div>
                        </div>
                        <span class="recommends do body2">正确</span>
                        <p class="body1">使用纯文本通知用户。</p>
                    </div>
                    <div id="contains-icon" class="diagram-wrapper">
                        <div class="diagram" size="regular">
                            <div class="snackbar">
                                <span class="material-icons">check</span>
                                <p class="body1">消息已发送。</p>
                            </div>
                        </div>
                        <span class="recommends dont body2">错误</span>
                        <p class="body1">避免在条形通知内使用图标。</p>
                    </div>
                </section>
                <section>
                    <article class="body1">
                        <p>条形通知仅可以包含一个与通知文本对应的操作按钮。另外，条形通知不应成为应用程序关键功能的入口。</p>
                    </article>
                    <div id="snackbar-actions" class="diagram-wrapper">
                        <div class="diagram" size="regular">
                            <div class="snackbar">
                                <p class="body1">文件已删除。</p>
                                <button class="text-button body2" tabindex="-1">撤销</button>
                            </div>
                        </div>
                        <span class="recommends do body2">正确</span>
                        <p class="body1">显示“撤消”操作允许用户更改选择。</p>
                    </div>
                    <div id="snackbar-dismissive-action" class="diagram-wrapper">
                        <div class="diagram" size="regular">
                            <div class="snackbar">
                                <p class="body1">所选照片已添加至影集。</p>
                                <button class="text-button body2" tabindex="-1">忽略</button>
                            </div>
                        </div>
                        <span class="recommends caution body2">慎用</span>
                        <p class="body1">默认情况下条形通知超时后会自行退场，无需额外的忽略类操作。</p>
                    </div>
                    <div id="multiple-actions" class="diagram-wrapper">
                        <div class="diagram" size="regular">
                            <div class="snackbar">
                                <p class="body1">已标记为已读。</p>
                                <button class="text-button body2" tabindex="-1">撤销</button>
                                <button class="text-button body2" tabindex="-1">忽略</button>
                            </div>
                        </div>
                        <span class="recommends dont body2">错误</span>
                        <p class="body1">条形通知中最多仅能有一个操作按钮。</p>
                    </div>
                    <div id="filled-button" class="diagram-wrapper">
                        <div class="diagram" size="regular">
                            <div class="snackbar">
                                <p class="body1">消息发送失败。</p>
                                <button class="text-button contained body2" tabindex="-1">重试</button>
                            </div>
                        </div>
                        <span class="recommends dont body2">错误</span>
                        <p class="body1">避免使用悬浮按钮，防止承载层的过度堆叠吸引了不必要的注意力。</p>
                    </div>
                </section>
            </article>
            <hr class="divider horizontal">
            <article id="placement" class="horizontal">
                <h5>行为</h5>
                <section>
                    <article class="body1 intro">
                        <p>条形通知从屏幕底部向上滑入进场，向下滑出退场。其退场既可由通知显示超时触发，也可由新界面进场或用户进入新的操作流程触发。</p>
                    </article>
                </section>
                <section>
                    <article class="body1">
                        <p>由于条形通知与浮动操作按钮层级相同，若两者显示位置有重叠部分，则条形通知进退场时需同时移动浮动操作按钮。</p>
                    </article>
                    <div id="move-fab" class="diagram-wrapper" screen="mobile">
                        <div class="simulator animated" clock="alarm">
                            <div class="application">
                                <div class="app-bar dark">
                                    <nav class="tab-bar">
                                        <button class="activated">
                                            <span class="material-icons">alarm</span>
                                        </button>
                                        <button>
                                            <span class="material-icons">access_time</span>
                                        </button>
                                        <button>
                                            <span class="extra-material-icons">hourglass</span>
                                        </button>
                                        <button>
                                            <span class="material-icons">timer</span>
                                        </button>
                                    </nav>
                                    <button class="icon-button narrow unbounded" tabindex="-1">
                                        <span class="material-icons">more_vert</span>
                                    </button>
                                </div>
                                <ul class="dark">
                                    <li class="alarm expanded">
                                        <div class="primary">
                                            <span class="display3">08:30</span>
                                            <div class="switch meta">
                                                <div class="track"></div>
                                                <div class="thumb unbounded">
                                                    <input type="checkbox" role="switch" aria-checked="true"
                                                        tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="panel">
                                            <li class="list" one="small">
                                                <div class="checkbox checked">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <path></path>
                                                    </svg>
                                                    <input type="checkbox" checked>
                                                </div>
                                                <span class="primary-text subheading">重复</span>
                                            </li>
                                            <li class="list repeat-view subheading" one="small">
                                                <span class="selected">一</span>
                                                <span class="selected">二</span>
                                                <span class="selected">三</span>
                                                <span class="selected">四</span>
                                                <span class="selected">五</span>
                                                <span>六</span>
                                                <span>七</span>
                                            </li>
                                            <li class="list ringtone" one="small">
                                                <span class="material-icons">notifications_active</span>
                                                <span class="primary-text subheading">默认铃声（Oxygen）</span>
                                            </li>
                                            <li class="list label" one="small">
                                                <span class="material-icons">label_outline</span>
                                                <input class="subheading" type="text" placeholder="标签" tabindex="-1">
                                            </li>
                                            <li class="divider horizontal"></li>
                                        </ul>
                                        <div class="secondary list" one="small">
                                            <button class="icon-button unbounded" tabindex="-1">
                                                <span class="material-icons">delete</span>
                                            </button>
                                            <button class="icon-button unbounded" tabindex="-1">
                                                <span class="material-icons">expand_less</span>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="alarm">
                                        <div class="primary">
                                            <span class="display3">09:00</span>
                                            <div class="switch meta">
                                                <div class="track"></div>
                                                <div class="thumb unbounded">
                                                    <input type="checkbox" role="switch" aria-checked="true"
                                                        tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="secondary list" one="small">
                                            <span class="primary-text body2">周六、周日</span>
                                            <button class="icon-button unbounded" tabindex="-1">
                                                <span class="material-icons">expand_more</span>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="divider horizontal"></li>
                                </ul>
                                <button id="add-alarm" class="fab" tabindex="-1">
                                    <span class="material-icons">add</span>
                                </button>
                                <div class="snackbar">
                                    <p class="body1">闹钟已删除。</p>
                                    <button class="text-button body2" tabindex="-1">撤销</button>
                                </div>
                                <div class="system-layer">
                                    <div class="status-bar-background"></div>
                                    <div class="navigation-bar-background"></div>
                                </div>
                            </div>
                            <div class="system-bars">
                                <div class="status-bar">
                                    <div class="system">
                                        <span id="wifi" class="material-icons">signal_wifi_4_bar</span>
                                        <span id="signal" class="material-icons">signal_cellular_4_bar</span>
                                        <span id="battery" class="extra-material-icons">system_battery</span>
                                        <span id="time" class="body2">12:30</span>
                                    </div>
                                </div>
                                <div class="navigation-bar">
                                    <span id="back" class="extra-material-icons">system_back</span>
                                    <span id="home" class="extra-material-icons">system_home</span>
                                    <span id="recent" class="extra-material-icons">system_recent</span>
                                </div>
                            </div>
                        </div>
                        <span class="recommends do body2">正确</span>
                        <p class="body1">浮动操作按钮响应条形通知进退场。</p>
                    </div>
                    <div id="block-fab" class="diagram-wrapper" screen="mobile">
                        <div class="simulator animated" inbox="main">
                            <div class="application">
                                <div class="app-bar light">
                                    <div class="start">
                                        <button class="icon-button unbounded" tabindex="-1">
                                            <span class="material-icons">menu</span>
                                        </button>
                                        <span class="title">Inbox</span>
                                    </div>
                                    <div class="end">
                                        <button class="icon-button unbounded" tabindex="-1">
                                            <span class="material-icons">search</span>
                                        </button>
                                    </div>
                                </div>
                                <ul class="group">
                                    <div class="actions">
                                        <div class="right">
                                            <span class="material-icons">check</span>
                                            <span class="material-icons">access_time</span>
                                        </div>
                                    </div>
                                    <div class="surfaces">
                                        <div class="start"></div>
                                        <div class="center"></div>
                                        <div class="end"></div>
                                    </div>
                                    <li class="subheader">
                                        <span class="body2">今天</span>
                                    </li>
                                    <li class="list" two>
                                        <span class="avatar" character="ali-connors"
                                            style="background-image: url(../resources/faces/ali_connors.png);"></span>
                                        <span class="primary-text subheading">Brunch this weekend?
                                            <p class="secondary-text body1">Ali Connors
                                                <span> — I’ll be in your neighborhood doing errands this weekend if you
                                                    want to meet up for brunch. Let me know.</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li states class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/jonathan_lee.jpg);"></span>
                                        <span class="primary-text subheading">Summer BBQ
                                            <p class="secondary-text body1">至 Alex, Scott, Jennifer
                                                <span> — Wish I could come, but I’m out of town this weekend.</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/sandra_adams.jpg);"></span>
                                        <span class="primary-text subheading">Oui oui
                                            <p class="secondary-text body1">Sandra Adams
                                                <span> — Do you have Paris recommendations? Have you ever been? (I’m
                                                    sure I’ve asked you this…</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/trevor_hansen.jpg);"></span>
                                        <span class="primary-text subheading">Birthday gift
                                            <p class="secondary-text body1">Trevor Hansen
                                                <span> — Have any ideas about what to get Heidi for her birthday?</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/britta_holt.jpg);"></span>
                                        <span class="primary-text subheading">Recipe to try
                                            <p class="secondary-text body1">Britta Holt
                                                <span> — We should eat this: Grated Squash, Corn and Tomatillo
                                                    tacos.</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/david_park.jpg);"></span>
                                        <span class="primary-text subheading">Giants game
                                            <p class="secondary-text body1">David Park
                                                <span> — Any interest in seeing the Giants play next month?</span>
                                            </p>
                                        </span>
                                    </li>
                                    <li class="divider horizontal"></li>
                                    <li class="list" two>
                                        <span class="avatar"
                                            style="background-image: url(../resources/faces/scott_masterson.png);"></span>
                                        <span class="primary-text subheading">Montauk weekend
                                            <p class="secondary-text body1">Scott Masterson
                                                <span> — Here are the shots I mentioned from this weekend’s trip.</span>
                                            </p>
                                        </span>
                                    </li>
                                </ul>
                                <button class="fab light" tabindex="-1">
                                    <span class="material-icons">add</span>
                                </button>
                                <div class="snackbar">
                                    <p class="body1">已标为处理完毕。</p>
                                    <button class="text-button body2" tabindex="-1">撤销</button>
                                </div>
                                <div class="system-layer">
                                    <div class="status-bar-background"></div>
                                    <div class="navigation-bar-background"></div>
                                </div>
                            </div>
                            <div class="system-bars">
                                <div class="status-bar">
                                    <div class="system">
                                        <span id="wifi" class="material-icons">signal_wifi_4_bar</span>
                                        <span id="signal" class="material-icons">signal_cellular_4_bar</span>
                                        <span id="battery" class="extra-material-icons">system_battery</span>
                                        <span id="time" class="body2">12:30</span>
                                    </div>
                                </div>
                                <div class="navigation-bar">
                                    <span id="back" class="extra-material-icons">system_back</span>
                                    <span id="home" class="extra-material-icons">system_home</span>
                                    <span id="recent" class="extra-material-icons">system_recent</span>
                                </div>
                            </div>
                        </div>
                        <span class="recommends dont body2">错误</span>
                        <p class="body1">浮动操作按钮与条形通知处在相同层级但却被阻挡。</p>
                    </div>
                    <article class="body1">
                        <p>若当前情境必需显示多个条形通知，则需其交替显示，屏幕中最多仅能显示一个条形通知。</p>
                    </article>
                </section>
            </article>
            <hr class="divider horizontal">
            <article id="specs" class="horizontal">
                <h5>样式</h5>
            </article>
        </div>


        <footer class="dark">
            <a states class="left" href="../components/sliders.html">
                <span class="material-icons">arrow_back</span>
                <span class="subheading">上一节
                    <span class="title">滑块</span>
                </span>
            </a>
            <a states class="right" href="../components/tabs.html">
                <span class="subheading">下一节
                    <span class="title">标签栏</span>
                </span>
                <span class="material-icons">arrow_forward</span>
            </a>
        </footer>

        <div id="progress" class="app-bar dark">
            <div class="start">
                <button id="drawer-trigger" class="icon-button unbounded" tabindex="1">
                    <span class="material-icons">menu</span>
                </button>
            </div>
            <span class="title">组件 - 条形通知</span>
            <div class="end">
                <button id="search-trigger" class="icon-button unbounded" disabled="true">
                    <span class="material-icons">search</span>
                </button>
            </div>
        </div>
    </main>

</body>

</html>