/*------------------------------------*\
  特别修改
\*------------------------------------*/

.application .app-bar {
    padding-top: 24px;
}

/*------------------------------------*\
  地图
\*------------------------------------*/

.simulator[map] {
    --primary-color: #4285F4;
    --secondary-color: #0F9D58;
}

.simulator[map=main] .status-bar-background {
    background-color: rgba(0, 0, 0, 0.3);
}

.simulator[map=main] .dialog {
    --secondary-color: var(--primary-color);
}

.simulator[map=main] .map-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.simulator[map=main] .map-wrapper img {
    position: absolute;
    width: auto;
    height: auto;
    transform: translate(204px, -82px) scale(0.5);
}

.simulator[map=main] .search-bar {
    margin-top: calc(var(--keyline) + 16px);
}

.simulator[map=main] .fab {
    align-self: flex-end;
    right: var(--keyline);
}

.simulator[map=main] #my-location {
    background-color: var(--high-emphasis-surface-color);
}

.simulator[map=main] #directions {
    --surface-shade-color: rgba(255, 255, 255, 0.2);
    --surface-shade-color: rgba(56, 66, 173, 0.2);
    --states-parameter: 2;
    color: #ffffff;
    bottom: calc(48px + var(--keyline));
}

.simulator[map=main] #my-location {
    bottom: calc(104px + 2 * var(--keyline));
}

.simulator[map=main] .current-location {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simulator[map=main] .current-location .background {
    width: calc(2 * var(--increment));
    height: calc(2 * var(--increment));
    background-color: rgba(66, 133, 244, 0.2);
    border: 1px solid #4285F4;
    border-radius: 50%;
}

.simulator[map=main] .current-location .foreground {
    position: absolute;
    width: var(--keyline);
    height: var(--keyline);
    background-color: #4285F4;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.simulator[map=navigation] .status-bar-background {
    background-color: #0b8043;
}

.simulator[map=navigation] .app-bar {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.simulator[map=navigation] .app-bar .start {
    width: calc(var(--keyline) + var(--increment));
    margin-top: 16px;
    flex-grow: 0;
}

.simulator[map=navigation] .app-bar .start span {
    font-size: 36px;
}

.simulator[map=navigation] .app-bar .end {
    height: auto;
    flex-direction: column;
    align-items: initial;
    padding-right: var(--keyline);
}

.simulator[map=navigation] .app-bar .end span:first-of-type {
    margin-top: 21px;
    margin-bottom: 1px;
}

.simulator[map=navigation] .app-bar .end span:last-of-type {
    margin-bottom: 24px;
}

.simulator[map=navigation] .sheet {
    position: absolute;
    width: 100%;
    height: 56px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--medium-emphasis-surface-color);
    box-shadow: var(--shadow-z2);
    padding-bottom: 48px;
    box-sizing: content-box;
}

.simulator[map=navigation] .sheet>span {
    margin-left: calc(var(--keyline) + var(--increment));
    color: var(--primary-color);
}

.simulator[map=navigation] .sheet button {
    margin-right: calc(var(--keyline) - 12px);
    color: var(--secondary-text-color);
}

@media screen and (min-width:921px) {
    .diagram-wrapper[screen~=tablet] .simulator[map=main] .search-bar {
        max-width: calc(6 * var(--increment));
    }
    .diagram-wrapper[screen~=tablet] .simulator[map=main] .dialog {
        width: calc(8 * var(--increment));
    }
}

/*------------------------------------*\
  设置
\*------------------------------------*/

.simulator[settings], .simulator[settings] .light {
    --primary-color: #263238;
    --secondary-color: #009688;
}

.simulator[settings] .application {
    background-color: var(--medium-emphasis-surface-color);
}

.simulator[settings] .status-bar-background {
    background-color: #1b2327;
}

.simulator[settings] .switch[class~=on] .thumb::after {
    --surface-shade-color: rgba(0, 77, 64, 0.2);
}

.simulator[settings] .dialog-wrapper[picker] .title-wrapper {
    color: rgba(255, 255, 255, 0.7);
}

.simulator[settings] .dialog-wrapper[picker] .activated {
    color: #ffffff;
}

.simulator[settings=main] .app-bar {
    box-shadow: var(--shadow-z2);
}

.simulator[settings=main] ul {
    background-color: var(--high-emphasis-surface-color);
    box-shadow: var(--shadow-z2);
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.simulator[settings=main] ul li {
    grid-template-columns: calc(var(--increment) + 16px) auto;
    color: var(--secondary-color);
}

.simulator[settings=main] ul .list>span:first-of-type {
    margin: 0 var(--keyline);
}

.simulator[settings=main] .divider {
    padding-left: calc(var(--keyline) + var(--increment));
}

.simulator[settings="app-info"] ul {
    padding: 8px 0;
}

.simulator[settings="app-info"] ul>li:first-of-type {
    grid-template-columns: 56px auto;
}

.simulator[settings="app-info"] ul>li:first-of-type .secondary-text {
    margin-top: 0.0625rem;
    line-height: 1.25rem;
}

.simulator[settings="app-info"] ul>.list {
    padding: 0 var(--keyline);
}

.simulator[settings="app-info"] .buttons-wrapper {
    display: flex;
    gap: 16px;
    padding-left: calc(var(--increment) + var(--keyline));
    padding-right: var(--keyline);
    margin-bottom: 24px;
}

.simulator[settings="app-info"] ul button {
    flex-basis: 100%;
    background-color: #E0E0E0;
}

@media (prefers-color-scheme: dark) {
    .simulator[settings] {
        --secondary-color: #80cbc4;
        --high-emphasis-surface-color: #37474F;
        --medium-emphasis-surface-color: #242F35;
    }
    .simulator[settings] .dialog-wrapper[picker] .calendar-view .activated {
        color: rgba(0, 0, 0, 0.87);
    }
}

.simulator[settings] .dark {
    --secondary-color: #80cbc4;
    --high-emphasis-surface-color: #37474F;
    --medium-emphasis-surface-color: #242F35;
}

/*------------------------------------*\
  时钟
\*------------------------------------*/

.simulator[clock] {
    --primary-color: #303F9F;
    --secondary-color: #E53935;
}

.simulator[clock] .status-bar-background {
    background-color: #1A237E;
}

.simulator[clock] .application {
    align-items: center;
    background-color: var(--primary-color);
}

.simulator[clock] .app-bar {
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    color: var(--primary-text-color);
    box-shadow: none;
}

.simulator[clock] .tab-bar {
    height: var(--increment);
}

.simulator[clock] .fab {
    --surface-hint-color: rgba(255, 255, 255, 0.2);
    --surface-shade-color: rgba(191, 54, 12, 0.2);
    bottom: calc(48px + var(--keyline));
    color: var(--primary-text-color);
}

.simulator[clock=main] ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
}

.simulator[clock=main] ul li:first-of-type {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    font-weight: 100;
    margin-top: 25px;
}

.simulator[clock=main] ul li:first-of-type span:first-of-type {
    justify-self: end;
}

.simulator[clock=main] ul li:first-of-type+li {
    font-weight: 500;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 16px;
}

.simulator[clock=main] ul .list {
    height: 56px;
    grid-template-columns: auto min-content;
    align-items: baseline;
    padding: 0 var(--keyline);
    color: var(--primary-text-color);
    margin: 8px 0;
}

.simulator[clock=main] ul .list>span:last-of-type {
    font-weight: 100;
    line-height: 5rem;
}

.simulator[clock=main] ul .list>span:first-of-type>span {
    color: var(--secondary-text-color);
}

.simulator[clock] .scroll-view {
    width: 400%;
    display: flex;
    align-self: flex-start;
}

.simulator[clock=alarm] .application>ul {
    align-self: stretch;
    padding-bottom: calc(48px + 56px + 2 * var(--keyline));
    overflow-y: scroll;
}

.simulator[clock] .scroll-view>ul {
    flex-basis: 100%;
}

.simulator[clock=alarm] .snackbar {
    --secondary-color: #FF8A80;
}

.alarm {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.alarm .primary {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--keyline);
    padding-right: calc(var(--keyline) - 12px);
    margin-top: var(--keyline);
    flex-shrink: 0;
}

.alarm .primary span {
    color: var(--secondary-text-color);
    font-weight: 300;
}

.alarm .panel {
    color: var(--primary-text-color);
}

.alarm .panel li:first-child {
    padding-left: calc(var(--keyline) - 12px);
    grid-template-columns: 68px auto;
}

.alarm .panel li:first-child {
    --primary-color: #ffffff;
}

.simulator[clock=alarm] .repeat-view {
    padding: 0 var(--keyline);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.repeat-view span {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    border-radius: 50%;
    line-height: 23px;
}

.repeat-view .selected {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
}

.alarm .ringtone, .alarm .label {
    padding: 0 var(--keyline);
    grid-template-columns: 56px auto;
}

.alarm .label .primary-text {
    color: var(--secondary-text-color);
}

.alarm .secondary {
    padding-left: var(--keyline);
    padding-right: calc(var(--keyline) - 12px);
    margin-bottom: 8px;
    grid-template-columns: auto 48px;
    color: var(--primary-text-color);
}

.alarm .panel .divider {
    margin: 8px 0;
    padding: 0 var(--keyline);
}

.alarm[class~=expanded] .secondary {
    padding: 0 calc(var(--keyline) - 12px);
}

.alarm[class~=expanded] {
    background-color: #3F51B5;
    box-shadow: var(--shadow-z2);
}

.alarm[class~=expanded]+.divider {
    opacity: 0;
}

.simulator[clock=alarm] .application>*:not(.snackbar) {
    --states-parameter: 2;
}

/*------------------------------------*\
  Inbox
\*------------------------------------*/

.simulator[inbox] {
    --primary-color: #00bcd4;
    --secondary-color: #eeff41;
}

.simulator[inbox=main] .system-layer .status-bar-background {
    background-color: #0097A7;
}

.simulator[inbox=main] .application>.status-bar-background {
    position: absolute;
    width: 100%;
    background-color: #0097A7;
}

.simulator[inbox=flight] .status-bar-background, .simulator[inbox=order] .status-bar-background {
    background-color: rgba(0, 0, 0, 0.3);
}

.simulator[inbox] .application {
    background-color: var(--medium-emphasis-surface-color);
}

.simulator[inbox=main] .application {
    background-color: #eeeeee;
}

.simulator[inbox] .app-bar {
    box-shadow: var(--shadow-z0);
}

.simulator[inbox=flight] .app-bar, .simulator[inbox=order] .app-bar {
    position: absolute;
    background-color: transparent;
}

.simulator[inbox] .app-bar .title {
    color: #ffffff;
}

.simulator[inbox] .fab {
    right: var(--keyline);
    bottom: calc(48px + var(--keyline));
}

.simulator[inbox=main] .fab {
    --surface-hint-color: rgba(255, 255, 255, 0.2);
    --surface-shade-color: rgba(38, 50, 56, 0.2);
    box-shadow: var(--shadow-z4);
}

.simulator[inbox=flight] .fab, .simulator[inbox=order] .fab {
    background-color: var(--high-emphasis-surface-color);
}

.simulator[inbox] .application .subheader, .simulator[inbox] .list[two] p span, .simulator[inbox=flight] ul>ul>li .primary-text {
    color: var(--secondary-text-color);
}

.simulator[inbox=main] ul .list[two] {
    padding: 0 var(--keyline);
    grid-template-columns: 56px auto;
}

.simulator[inbox=opened] .list[two] {
    padding: 0 var(--keyline);
    grid-template-columns: 56px auto;
}

.simulator[inbox="main"] .list[two] p {
    color: var(--primary-text-color);
}

.simulator[inbox] .list[two] p {
    margin-top: -0.0625rem;
}

.simulator[inbox] .group {
    position: relative;
    margin-bottom: var(--keyline);
}

.simulator[inbox] .application>ul>.divider {
    padding-left: calc(16px + var(--increment));
}

.simulator[inbox=main] .application>ul>li:not(.divider) {
    overflow: hidden;
}

.simulator[inbox] .surfaces {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    filter: var(--drop-shadow-z2);
}

.simulator[inbox] .surfaces div {
    flex-grow: 1;
    background-color: var(--medium-emphasis-surface-color);
}

.simulator[inbox] .unit {
    position: relative;
}

.simulator[inbox] .actions {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.simulator[inbox] .actions>div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--keyline);
}

.simulator[inbox] .actions div[class~=right] {
    background-color: #0f9d58;
    color: #ffffff;
}

.simulator[inbox] .actions div[class~=right] span {
    padding: 8px;
}

.simulator[inbox] .actions div[class~=right] span:last-child {
    display: none;
}

.simulator[inbox] .snackbar {
    box-shadow: var(--shadow-z4);
}

.simulator[inbox=main] .attachments {
    display: flex;
    padding-left: calc(var(--increment) + var(--keyline));
    padding-right: var(--keyline);
    gap: 8px;
}

.simulator[inbox=main] .image {
    width: auto;
    height: 56px;
}

.simulator[inbox] .hero-image {
    position: relative;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 24px;
    overflow: hidden;
}

.simulator[inbox] .hero-image img {
    position: absolute;
    width: 100%;
    align-self: center;
}

.simulator[inbox=flight] .hero-image img {
    width: 524px;
    transform: translate(54px, -26px);
}

.simulator[inbox] .content-block {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
    display: flex;
}

.simulator[inbox] .content-block .scrim {
    height: calc(1.5 * var(--increment));
    opacity: 0.2;
}

.simulator[inbox] .route {
    transform: rotate(0deg);
    display: flex;
    flex-grow: 1;
    align-self: flex-end;
    justify-content: space-between;
    padding: 0 var(--keyline);
    margin-bottom: 16px;
    color: var(--primary-text-color);
}

.simulator[inbox] .route span:nth-of-type(2) {
    font-size: 36px;
    transform: rotate(90deg);
}

.simulator[inbox] .overlay {
    height: 120px;
    display: flex;
    background-color: #716bbe;
    padding: 0 var(--keyline);
    color: var(--primary-text-color);
    flex-shrink: 0;
}

.simulator[inbox=flight] .overlay {
    background-color: #716bbe;
}

.simulator[inbox=order] .overlay {
    background-color: #646464;
}

.simulator[inbox] .overlay span {
    margin-top: 15px;
}

:is(.simulator[inbox=flight], .simulator[inbox=order]) .text-button {
    justify-content: flex-start;
    align-self: flex-start;
    margin: 10px calc(var(--keyline) - 8px);
    color: var(--primary-color);
    flex-shrink: 0;
}

.simulator[inbox=flight] table {
    margin-top: 8px;
    border-spacing: var(--keyline) 0;
}

.simulator[inbox=flight] td {
    max-width: 100vw;
}

.simulator[inbox=flight] table tr:not(:first-child) .primary-text {
    color: var(--secondary-text-color);
}

.simulator[inbox=flight] table tr:not(:first-child) .secondary-text {
    color: var(--primary-text-color);
}

.simulator[inbox=flight] .application>ul {
    padding: 8px 0;
}

.simulator[inbox=flight] .application>ul>ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 0 var(--keyline);
}

.simulator[inbox=flight] .application>ul>li, .simulator[inbox=order] .application>.list {
    padding: 0 var(--keyline);
}

.simulator[inbox=order] .list[two] {
    grid-template-columns: 56px auto;
}

.simulator[inbox=order] .list[two] .avatar {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-style: italic;
    font-weight: 500;
}

.simulator[inbox] .route span, :is(.simulator[inbox=order], .simulator[inbox=opened]) .list[two] .primary-text {
    font-weight: 500;
}

.simulator[inbox=flight] ul>ul>li .secondary-text {
    color: var(--primary-text-color);
}

.simulator[inbox] .drawer .header>img {
    object-position: 0px -14px;
}

.simulator[inbox] .drawer li:first-of-type a:nth-of-type(1) {
    --primary-text-color: var(--primary-color);
    --secondary-text-color: var(--primary-color);
}

.simulator[inbox] .drawer li:first-of-type a:nth-of-type(2) {
    --primary-text-color: #ef6c00;
    --secondary-text-color: #ef6c00;
}

.simulator[inbox] .drawer li:first-of-type a:nth-of-type(3) {
    --primary-text-color: #0f9d58;
    --secondary-text-color: #0f9d58;
}

.simulator[inbox] li .activated {
    --states-base-color: var(--primary-color);
}

.simulator[inbox=opened] .headline {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: calc(var(--increment) + var(--keyline));
    margin-right: var(--keyline);
}

.simulator[inbox=opened] .tertiary-text {
    right: 0;
    position: absolute;
    align-self: flex-start;
    display: flex;
    align-items: flex-end;
    margin-top: 18px;
}

.simulator[inbox=opened] .tertiary-text .icon-button {
    padding: 0px 12px;
    margin-right: 4px;
}

.simulator[inbox=opened] .tertiary-text .icon-button span {
    font-size: 18px;
}

.simulator[inbox=opened] .list[one] {
    padding-left: var(--keyline);
    grid-template-columns: 56px auto;
}

.simulator[inbox=opened] ul>p {
    margin-top: -0.0625rem;
    margin-left: calc(var(--increment) + 16px);
    padding-right: var(--keyline);
}

.simulator[inbox=opened] ul+hr {
    margin-top: auto;
}

@media (prefers-color-scheme: dark) {
    .simulator[inbox=main] .application {
        background-color: #212121;
    }
}

/*------------------------------------*\
  文件
\*------------------------------------*/

.simulator[files] {
    --primary-color: #03a9f4;
    --secondary-color: #18ffff;
}

.simulator[files] nav .activated {
    --states-base-color: var(--primary-color);
    --primary-text-color: var(--primary-color);
    --secondary-text-color: var(--primary-color);
}

.simulator[files] .selected {
    --selected-parameter: 2;
}

.simulator[files] .system-layer .status-bar-background, .simulator[files] .application>.status-bar-background, .simulator[files] .sheet .status-bar-background {
    background-color: #0288D1;
}

.simulator[files] .application>.status-bar-background, .simulator[files] .sheet .status-bar-background {
    position: absolute;
    width: 100%;
}

.simulator[files] .extra[class~=dark] {
    color: var(--primary-text-color);
}

.simulator[files] .app-bar .extra .material-icons {
    padding: 12px;
}

.simulator[files] .fab {
    width: calc(2 * var(--keyline) + 8px);
    top: calc(2 * var(--increment) + var(--keyline) + 4px);
    left: var(--keyline);
}

.simulator[files] ul {
    margin-bottom: 8px;
}

.simulator[files] ul+.divider {
    padding-left: calc(16px + var(--increment));
}

.simulator[files] .subheader+.divider {
    visibility: hidden;
}

.simulator[files] li[two] {
    padding-left: var(--keyline);
    padding-right: calc(var(--keyline) - 12px);
    grid-template-columns: 56px auto 68px;
}

.diagram-wrapper[screen=mobile] .simulator[files] .list .meta {
    color: var(--hint-text-color);
}

.simulator[files] .subheader {
    color: var(--secondary-text-color);
}

.simulator[files] .subheader {
    padding-left: calc(16px + var(--increment));
}

.simulator[files] ul .thumbnail {
    border-radius: 50%;
    background-color: #B2B2B2;
    color: #ffffff;
}

.simulator[files=main] ul:last-of-type li:nth-of-type(2) .thumbnail {
    background-color: #2196F3;
}

.simulator[files=main] ul:last-of-type li:nth-of-type(3) .thumbnail {
    background-color: #F9CE1D;
}

.simulator[files=beach] ul li:nth-of-type(2) .thumbnail {
    background-size: 72px;
    background-position: left;
}

.simulator[files=beach] ul li:nth-of-type(3) .thumbnail {
    background-size: 80px;
    background-position: -22px -4px;
}

.simulator[files=beach] ul li:nth-of-type(4) .thumbnail {
    background-size: 80px;
    background-position: -27px -11px;
}

.simulator[files=beach] ul li:nth-of-type(5) .thumbnail {
    background-size: 120px;
    background-position: -35px -24px;
}

.simulator[files=beach] ul li:nth-of-type(6) .thumbnail {
    background-size: 88px;
    background-position: -28px -15px;
}

.simulator[files] .sheet {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--medium-emphasis-surface-color);
    box-shadow: var(--shadow-z16);
}

.simulator[files] .sheet .app-bar {
    box-shadow: var(--shadow-z0);
}

.simulator[files] .sheet .app-bar .list {
    padding: 0 var(--keyline);
}

.simulator[files] .sheet .app-bar .secondary-text {
    color: var(--secondary-text-color);
}

.simulator[files] .sheet>.thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-size: 760px;
    background-position: -300px -100px;
}

.simulator[files] .sheet .list[one] {
    padding-left: var(--keyline);
    margin: 8px 0;
    grid-template-columns: auto calc(var(--increment) + 16px);
}

.simulator[files] .switch {
    margin-right: calc(var(--keyline) - 12px);
}

.simulator[files] .drawer .header>img {
    object-position: top;
    filter: saturate(0.8);
}

@media screen and (min-width:921px) {
    .diagram-wrapper[screen~=tablet] .simulator[files] .app-bar {
        box-shadow: var(--shadow-z0);
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .app-bar .extra>span:first-of-type {
        margin-left: calc(2 * var(--keyline) + 56px);
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .subheader, .diagram-wrapper[screen~=tablet] .simulator[files] .divider {
        padding-left: calc(2 * var(--keyline) + 56px);
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .fab {
        top: calc(2 * var(--increment) + var(--keyline) - 12px);
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] ul .list[one] {
        height: var(--increment);
        padding-left: var(--keyline);
        padding-right: calc(var(--keyline) - 12px);
        grid-template-columns: 68px auto 200px 120px min-content;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .subheader {
        display: grid;
        margin: 8px 0;
        padding-right: calc(2 * var(--keyline) + 12px);
        grid-template-columns: auto 176px 96px;
        column-gap: var(--keyline);
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .subheader span:last-of-type {
        justify-self: end;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] ul .thumbnail {
        margin: 8px;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] ul .list[one]>span {
        padding: 0 12px;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] ul .list[one]>span:last-of-type {
        justify-self: end;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .sheet .app-bar .start {
        display: none;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .sheet .app-bar .list {
        padding: 0 32px;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .sheet .list[one] {
        padding-left: 32px;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .sheet {
        width: calc(5 * var(--increment));
        background-color: var(--high-emphasis-surface-color);
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .sheet .app-bar {
        background-color: #29B6F6;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .sheet .status-bar-background {
        top: 0;
        position: absolute;
        width: 100%;
        background-color: #039BE5;
    }
    .diagram-wrapper[screen~=tablet] .simulator[files] .subheader+.divider {
        visibility: visible;
    }
}

/*------------------------------------*\
  照片
\*------------------------------------*/

.simulator[photos] .status-bar-background {
    background-color: var(--status-bar-background-color);
}

.simulator[photos] .app-bar {
    background-color: var(--medium-emphasis-surface-color);
    box-shadow: var(--shadow-z0);
}

.simulator[photos] ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 164px 164px 204px;
    gap: 4px;
    padding: 0 4px;
}

.simulator[photos] ul li:not(.subheader) {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.simulator[photos] .subheader {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 0 calc(var(--keyline) - 4px);
}

.simulator[photos=fun-times] ul li:nth-of-type(2) img {
    transform: translateX(41px);
}

.simulator[photos=fun-times] ul li:nth-of-type(3) img {
    transform: translateX(11px);
}

.simulator[photos=fun-times] ul li:nth-of-type(4) img {
    align-self: flex-end;
    transform: translateX(37px);
}

.simulator[photos=fun-times] ul li:nth-of-type(5) {
    grid-column-end: span 2;
}

.simulator[photos=fun-times] ul li:nth-of-type(5) img {
    align-self: flex-start;
    transform: translateX(6px);
}

.simulator[photos=fun-times] ul li:nth-of-type(6) img {
    transform: translate(5px, 16px);
}

.simulator[photos=fun-times] ul li:nth-of-type(7) {
    grid-column-start: 1;
    grid-column-end: -1;
    align-items: flex-start;
    justify-content: flex-start;
}

/*------------------------------------*\
  联系人
\*------------------------------------*/

.simulator[contacts] {
    --primary-color: #3f51b5;
    --secondary-color: #ff4081;
}

.simulator[contacts] .status-bar-background {
    top: 0;
    position: absolute;
    width: 100%;
}

.simulator[contacts] .contacts-list .status-bar-background {
    background-color: #303f9f;
}

.simulator[contacts=detailed] .status-bar-background, .contact-card .status-bar-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.simulator[contacts=main] .application {
    flex-direction: row;
    background-color: var(--low-emphasis-surface-color);
}

.simulator[contacts] .app-bar {
    box-shadow: var(--shadow-z0);
}

.simulator[contacts] .divider {
    padding-left: calc(16px + var(--increment));
}

.contacts-list {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.contacts-list ul {
    padding: 8px 0;
}

.contacts-list ul li[one] {
    height: var(--increment);
    padding-left: calc(16px + var(--increment));
    padding-right: var(--keyline);
    grid-template-columns: 56px auto;
}

.contacts-list ul li:first-of-type {
    padding-left: var(--keyline);
    grid-template-columns: 56px 56px auto;
}

.contacts-list ul li:first-of-type span:first-of-type {
    width: 24px;
    font-size: 24px;
    text-align: center;
    color: var(--secondary-color);
}

.contact-card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--medium-emphasis-surface-color);
    box-shadow: var(--shadow-z2);
}

.simulator[contacts=detailed] .app-bar, .contact-card .app-bar {
    position: absolute;
    background-color: transparent;
}

.portrait-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 24px;
    overflow: hidden;
}

.content-block {
    width: 100%;
    aspect-ratio: 3/2;
    display: flex;
}

.portrait-wrapper .scrim {
    height: calc(1.5 * var(--increment));
    opacity: 0.38;
}

.portrait-wrapper img {
    position: absolute;
    width: 100%;
    align-self: center;
}

.portrait-wrapper img[character=ali-connors] {
    transform: translate(4px, -40px);
    width: 390px;
}

.portrait-wrapper span {
    position: absolute;
    display: inline-flex;
    align-self: flex-end;
    color: #ffffff;
    margin-left: calc(16px + var(--increment));
    padding-bottom: 27px;
}

.simulator[contacts=detailed] ul, .contact-card ul {
    padding: 8px 0;
}

.simulator[contacts=detailed] ul:first-of-type, .contact-card ul:first-of-type {
    margin-top: 28px;
}

.simulator[contacts=detailed] li, .contact-card li {
    padding-left: calc(16px + var(--increment));
    padding-right: var(--keyline);
    grid-template-columns: auto 56px;
}

.simulator[contacts=detailed] li:first-of-type, .contact-card li:first-of-type {
    padding-left: var(--keyline);
    padding-right: var(--keyline);
    grid-template-columns: 56px auto 56px;
}

.simulator[contacts=detailed] li:first-of-type>span:first-of-type, .contact-card li:first-of-type>span:first-of-type {
    color: var(--primary-color);
}

.simulator[contacts=detailed] .meta {
    justify-self: center;
}

.simulator[contacts] #edit {
    top: 236px;
    right: var(--keyline);
    color: var(--primary-text-color);
}

@media screen and (min-width:921px) {
    .diagram-wrapper[screen~=tablet] .simulator[contacts] .contact-card {
        width: calc(6 * var(--increment));
    }
    .diagram-wrapper[screen~=tablet] .simulator[contacts] .contact-card .app-bar .start {
        visibility: hidden;
    }
    .diagram-wrapper[screen~=tablet] .simulator[contacts] #edit {
        top: 252px;
        box-shadow: var(--shadow-z4);
    }
    .diagram-wrapper[screen~=tablet] .portrait-wrapper img[character=ali-connors] {
        transform: translateY(-40px);
    }
}

@media (prefers-color-scheme: dark) {
    .simulator[contacts] {
        --primary-color: #5C6BC0;
    }
    .simulator[contacts] .contacts-list .status-bar-background {
        background-color: #3F51B5;
    }
}

/*------------------------------------*\
  电话
\*------------------------------------*/

.simulator[dialer] {
    --primary-color: #0288d1;
}

.simulator[dialer] .application {
    flex-direction: row;
}

.simulator[dialer] .system-layer .status-bar-background {
    background-color: #0277bd;
}

.diagram-wrapper[screen~=tablet] .simulator[dialer] .system-layer .status-bar-background {
    background-color: transparent;
}

.simulator[dialer] .main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.diagram-wrapper[screen~=tablet] .simulator[dialer] .main {
    width: calc(100% - 6 * var(--increment));
}

.simulator[dialer] .main .scroll-view {
    width: 300%;
    display: flex;
}

.simulator[dialer] .main .scroll-view>ul {
    flex-basis: 100%;
}

.simulator[dialer] #favorites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    padding-top: 1px;
}

.simulator[dialer] #favorites li {
    position: relative;
    aspect-ratio: 4/3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.simulator[dialer] #favorites .scrim {
    height: calc(1.5 * var(--increment));
    opacity: 0.5;
}

.simulator[dialer] #favorites .list {
    padding: 0 16px;
}

.simulator[dialer] #favorites li button {
    align-self: flex-end;
    color: #ffffff;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12));
}

.simulator[dialer] #favorites .secondary-text {
    font-size: 13px;
    margin-top: -0.1875rem;
}

.simulator[dialer] li[character=ali-connors], .simulator[dialer] li[character=abbey-christensen], .simulator[dialer] li[character=janet-perkins], .simulator[dialer] li[character=britta-holt] {
    background-position: bottom;
}

.simulator[dialer] li[character=mary-johnson] {
    background-position: left;
}

.simulator[dialer] li[character=aaron-bennett], .simulator[dialer] li[character=anthony-stevens] {
    background-position: top;
}

.simulator[dialer] #favorites .list .primary-text .material-icons {
    font-size: 14px;
    margin-left: 4px;
    margin-bottom: 1px;
    vertical-align: middle;
}

.simulator[dialer] #favorites .secondary-text {
    font-size: 13px;
    margin-top: -0.1875rem;
}

.simulator[dialer] #recents .list {
    padding: 0 var(--keyline);
    grid-template-columns: 56px auto;
}

.simulator[dialer] #recents .list .secondary-text .message {
    color: var(--secondary-text-color-alt);
}

.simulator[dialer] #recents .secondary-text span:not(.message), .simulator[dialer] .app-bar .secondary-text span:not(.message) {
    font-size: 18px;
    vertical-align: top;
    margin-top: 1px;
}

.simulator[dialer] #recents .secondary-text span:last-of-type, .simulator[dialer] .app-bar .secondary-text span:last-of-type {
    margin-right: 4px;
}

.simulator[dialer] .list .success {
    color: #00c853;
}

.simulator[dialer] .list .failure {
    color: #FF1744;
}

.simulator[dialer] #contacts {
    padding: 8px 0;
}

.simulator[dialer] #contacts li[one] {
    padding-left: calc(16px + var(--increment));
    padding-right: var(--keyline);
    grid-template-columns: 56px auto;
}

.simulator[dialer] #contacts li:first-of-type, .simulator[dialer] #contacts .divider+li {
    padding-left: var(--keyline);
    grid-template-columns: 56px 56px auto;
}

.simulator[dialer] #contacts li:first-of-type span:first-of-type, .simulator[dialer] #contacts .divider+li span:first-of-type {
    width: 24px;
    font-size: 24px;
    text-align: center;
    color: var(--secondary-color);
}

.simulator[dialer] #contacts .divider {
    padding-left: calc(16px + var(--increment));
    margin: 8px 0;
}

.simulator[dialer] .main .fab {
    bottom: calc(48px + var(--keyline));
    align-self: center;
    color: #ffffff;
    background-color: var(--primary-color);
}

.diagram-wrapper[screen~=tablet] .simulator[dialer] .main .fab {
    visibility: hidden;
}

.simulator[dialer] .app-bar {
    flex-direction: column;
    align-items: stretch;
}

.diagram-wrapper[screen~=tablet] .simulator[dialer] .main .app-bar {
    box-shadow: var(--shadow-z0);
}

.simulator[dialer] .search-bar {
    position: relative;
    width: auto;
    margin: 8px 8px 4px 8px;
}

.simulator[dialer] .search-bar button:first-of-type {
    color: var(--hint-text-color);
}

.simulator[dialer] .app-bar .list {
    margin: 4px 8px;
    padding: 0 8px;
    grid-template-columns: 56px auto;
    background-color: var(--high-emphasis-surface-color);
    border-radius: 2px;
    box-shadow: var(--shadow-z2);
}

.simulator[dialer] .app-bar div+.tab-bar {
    margin-top: 4px;
}

.simulator[dialer] .status-bar-background {
    top: 0;
    position: absolute;
    width: 100%;
}

.simulator[dialer] .main .status-bar-background, .simulator[dialer] .oncall .app-bar .status-bar-background {
    background-color: #0277bd;
}

.simulator[dialer] .dial-list {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.simulator[dialer] .dial-list>ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: calc(var(--increment) / 2);
}

.simulator[dialer] .dial-list>ul>* {
    opacity: 0;
}

.simulator[dialer] .dial-list>ul>li {
    padding: 0 var(--keyline);
    grid-template-columns: 56px auto;
}

.simulator[dialer] .dial-list>ul>li .primary-text {
    line-height: 1.5rem;
}

.simulator[dialer] .dial-list>ul>li .secondary-text {
    line-height: 1.25rem;
    margin-top: -0.0625rem;
}

.simulator[dialer] .dial-list>ul>li[one] span:first-of-type {
    margin: 8px;
    color: var(--primary-color);
}

.simulator[dialer] .dialpad {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: calc(6 * var(--increment));
    height: 100%;
    background-color: var(--medium-emphasis-surface-color);
    box-shadow: var(--shadow-z4);
    padding-top: 24px;
}

.simulator[dialer] .dialpad ul {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    padding: 16px 8px;
    margin-bottom: calc(48px + 56px + var(--keyline));
}

.simulator[dialer] .dialpad ul li {
    --states-base-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.simulator[dialer] .dialpad ul li:first-of-type span:nth-of-type(2) {
    font-size: 18px;
}

.simulator[dialer] .dialpad ul li:last-of-type span {
    margin-bottom: 16px;
}

.simulator[dialer] .dialpad ul li span:first-of-type {
    font-weight: 300;
    color: var(--primary-color);
}

.simulator[dialer] .dialpad ul li span:nth-of-type(2) {
    margin-top: -9px;
    color: var(--secondary-text-color);
}

.simulator[dialer] .dial-list .status-bar-background, .simulator[dialer] .callee .status-bar-background {
    background-color: rgba(0, 0, 0, 0.3);
}

.simulator[dialer] .dialpad .input {
    height: var(--increment);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0 calc(var(--keyline) - 12px);
}

.simulator[dialer] .dialpad .input>span {
    flex-grow: 1;
    text-align: center;
}

.simulator[dialer] .dialpad .input>span::after {
    content: "";
}

.simulator[dialer] .dialpad .input button {
    color: var(--secondary-text-color);
}

.simulator[dialer] .dialpad .input button:first-of-type {
    opacity: 0;
}

.simulator[dialer] .dialpad .fab {
    align-self: center;
    bottom: calc(48px + var(--keyline));
    color: #ffffff;
    background-color: #00c853;
    box-shadow: var(--shadow-z4);
}

.simulator[dialer] .oncall {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 48px;
}

.simulator[dialer] .oncall .app-bar {
    position: absolute;
    left: 0;
    width: calc(100% - 6 * var(--increment));
    height: 100%;
    padding-bottom: 48px;
    box-shadow: var(--shadow-z16);
    justify-content: space-between;
}

.simulator[dialer] .oncall .callee {
    position: relative;
    width: calc(6 * var(--increment));
    display: flex;
    flex-direction: column;
}

.simulator[dialer] .oncall .fab {
    bottom: var(--keyline);
    align-self: center;
    color: #ffffff;
    background-color: #ff1744;
}

.simulator[dialer] .oncall .toolbar {
    order: initial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, calc(56px + 2 * var(--keyline)));
    padding: 0 var(--keyline);
    color: var(--secondary-text-color);
}

.simulator[dialer] .oncall .toolbar button[disabled] {
    color: var(--hint-text-color-alt);
}

.simulator[dialer] .oncall .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 40px;
}

.simulator[dialer] .oncall .info>span:nth-of-type(2) {
    font-weight: 300;
    margin-top: 8px;
}

@media screen and (max-width:920px) {
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .application {
        flex-direction: column;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .main .app-bar {
        box-shadow: var(--shadow-z4);
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .dial-list {
        visibility: hidden;
        width: 100%;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .dial-list>ul {
        padding-top: 4px;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .dial-list>ul>li[two] {
        height: 60px;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .dialpad {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0;
        box-shadow: var(--shadow-z16);
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .dialpad .fab {
        box-shadow: var(--shadow-z2);
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .oncall {
        flex-direction: column-reverse;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .oncall .app-bar {
        width: 100%;
        height: calc(100% - 360px - 48px);
        padding-bottom: 0;
        box-shadow: var(--shadow-z4);
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .oncall .callee {
        width: auto;
        aspect-ratio: 1/1;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .oncall .toolbar {
        display: flex;
        margin: 8px 0;
        justify-content: space-between;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .oncall .info {
        padding: 0 24px;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .oncall .info>span:nth-of-type(2) {
        margin-top: -7px;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .oncall .info>span:nth-of-type(3) {
        margin-top: -4px;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .oncall .callee img {
        height: 100%;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .oncall .callee .status-bar-background {
        display: none;
    }
    .diagram-wrapper[screen~=mobile] .simulator[dialer] .main .fab {
        visibility: visible;
    }
}

/*------------------------------------*\
  音乐
\*------------------------------------*/

.simulator[music] .app-bar {
    background-color: transparent;
    box-shadow: var(--shadow-z0);
}

.simulator[music=my-library] .application {
    background-color: #121212;
}

.simulator[music=my-library] .system-layer .status-bar-background {
    background-color: #000000;
}

.simulator[music=my-library] .app-bar {
    color: var(--primary-text-color);
    background-color: #121212;
}

:is(.simulator[music=my-library], .simulator[music=album]) ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    padding: 4px 0;
}

.simulator[music] li {
    display: grid;
}

.simulator[music] li[class~=large] {
    grid-template-columns: 1fr 1fr;
    grid-column-end: span 2;
    aspect-ratio: 2/1;
}

.simulator[music] li img {
    width: 100%;
    flex-grow: unset;
    aspect-ratio: 1/1;
}

.simulator[music] li[class~=large] img {
    grid-row-end: span 2;
}

.simulator[music=my-library] li .list {
    grid-template-columns: auto auto;
    gap: 4px;
    padding-left: 16px;
}

.simulator[music] li[class~=large] .list {
    padding-left: 18px;
}

.simulator[music] li .primary-text {
    font-weight: 500;
}

.simulator[music=my-library] li .secondary-text {
    color: var(--primary-text-color);
    margin-top: -0.0625rem;
}

.simulator[music] li[class~=large]>span {
    height: 48px;
    display: flex;
    align-items: center;
    align-self: end;
    margin-bottom: 0.0625rem;
    padding-left: 14px;
    padding-right: 16px;
}

#girl {
    background-color: #f6bf26;
}

#in-a-perfect-world {
    background-color: #2c556c;
}

#halcyon-days {
    background-color: #89196b;
}

.simulator[music=album] .system-layer .status-bar-background {
    background-color: var(--primary-color-alt);
}

.simulator[music=album] .app-bar {
    position: absolute;
}

.simulator[music=album] .container {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    overflow: scroll;
}

.simulator[music=album] .container img {
    top: 0;
    position: sticky;
    width: 100%;
    aspect-ratio: 1/1;
}

.simulator[music=album] .container .scrim {
    opacity: 0.2;
}

.simulator[music=album] .container .fab {
    top: 356px;
    right: var(--keyline);
    box-shadow: var(--shadow-z4);
}

.simulator[music=album] .container .info {
    top: calc(360px + 24px);
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color: var(--high-emphasis-surface-color);
    box-shadow: var(--shadow-z2);
}

.simulator[music=album] .container .info>.list {
    height: calc(640px - 24px - 360px - 56px - 48px);
    padding: 0 calc(var(--keyline) + var(--increment));
    padding-bottom: 4px;
    background-color: var(--primary-color);
}

.simulator[music=album] .container .info>.list .secondary-text {
    margin-top: 0.125rem;
}

.simulator[music=album] .container ul {
    display: flex;
    flex-direction: column;
}

.simulator[music=album] .container ul>li {
    grid-template-columns: 32px auto auto;
    gap: var(--keyline);
    padding: 0 calc(var(--keyline) + 8px);
}

.simulator[music=album] .container ul>li span:last-child {
    justify-self: end;
}

.simulator[album=girl] {
    --primary-color: #f6bf26;
    --primary-color-alt: #f7cb4e;
    --secondary-color: #e7e6e4;
}

.simulator[album=jamie-lidell] {
    --primary-color: #e1e1e1;
    --primary-color-alt: #efefef;
    --secondary-color: #ff4081;
}

.simulator[album=jamie-lidell] .fab {
    color: var(--primary-text-color);
}

.simulator[album=live-from-space] {
    --primary-color: #ff3d29;
    --primary-color-alt: #f03329;
    --secondary-color: #2ab8f6;
}

.simulator[music=details] .application {
    align-items: center;
}

.simulator[music=details] .sheet {
    width: calc(10 * var(--increment));
    align-self: center;
    box-shadow: var(--shadow-z2);
    border-radius: 2px 2px 0 0;
}

.simulator[music=details] .header {
    position: relative;
    height: calc(4.5 * var(--increment));
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto var(--increment);
}

.simulator[music=details] .foreground-image {
    width: calc(4.5 * var(--increment));
    height: auto;
    aspect-ratio: 1/1;
    grid-row-start: 1;
    grid-row-end: -1;
}

.simulator[music=details] .information {
    position: relative;
    display: flex;
}

.simulator[music=details] .information .toolbar {
    position: absolute;
}

.simulator[music=details] .information .list {
    padding: 0 32px;
    align-self: center;
}

.simulator[music=details] .information .list span {
    color: var(--primary-text-color);
}

.simulator[music=details] .controls {
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-right: 104px;
    justify-content: space-between;
}

.simulator[music=details] .controls button {
    margin: 0 8px;
    color: var(--secondary-text-color)
}

.simulator[music=details] .fab {
    right: var(--keyline);
    bottom: calc(var(--increment) - 28px);
    box-shadow: var(--shadow-z4);
}

.simulator[music=details] .sheet>ul {
    display: flex;
    flex-direction: column;
    background-color: var(--medium-emphasis-surface-color);
    padding: 8px 0;
}

.simulator[music=details] .sheet>ul::after {
    content: "";
    top: -0.5px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--divider-color);
}

.simulator[music=details] .sheet .subheader {
    display: grid;
    padding-left: 80px;
    padding-right: 40px;
    grid-template-columns: calc(3.5 * var(--increment) - 8px) auto auto;
    column-gap: var(--keyline);
}

.simulator[music=details] .sheet .subheader span:last-of-type, .simulator[music=details] .sheet>ul .list[one] span:last-of-type {
    justify-self: end;
}

.simulator[music=details] .sheet>ul .divider {
    padding: 8px 0 8px 80px;
}

.simulator[music=details] .sheet>ul .list[one] {
    padding: 0 40px 0 32px;
    grid-template-columns: 24px calc(3.5 * var(--increment) - 8px) auto auto;
    column-gap: var(--keyline);
}

.simulator[music=details] .sheet>ul .list[one] span {
    font-weight: initial;
}

/*------------------------------------*\
  天气
\*------------------------------------*/

.simulator[weather=sunny] {
    --primary-color: #1180b2;
}

.simulator[weather=sunny] .status-bar-background {
    background-color: #0f73a0;
}

.simulator[weather] .app-bar {
    flex-direction: column;
    align-items: stretch;
    box-shadow: var(--shadow-z0);
}

.simulator[weather] .search-bar {
    position: relative;
    width: auto;
    margin: 8px 8px 0px 8px;
}

.simulator[weather] .search-bar input {
    padding-bottom: 2px;
}

.simulator[weather] .brief-report {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    background: linear-gradient(#16a1df 0%, #069de0 100%);
    padding-bottom: 48px;
}

.simulator[weather] .brief-report>img {
    position: absolute;
    width: 100%;
}

.simulator[weather] .brief-report .info-body {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: auto min-content;
    align-self: flex-start;
    padding-left: var(--keyline);
    padding-right: calc(var(--keyline) - 8px);
    margin: var(--keyline) 0;
    color: #ffffff;
}

.simulator[weather] .brief-report .info-body span:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: -1;
    color: rgba(0, 0, 0, 0.87);
}

.simulator[weather] .brief-report .info-body span:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: -1;
}

.simulator[weather] .brief-report .info-body span:nth-of-type(3) {
    line-height: 6rem;
    padding-bottom: 5px;
    transform: translateX(-8px);
}

.simulator[weather] .brief-report .info-body img {
    width: 112px;
    justify-self: end;
    align-self: end;
    margin-bottom: 2px;
}

.simulator[weather] .brief-report .info-body span:last-of-type {
    justify-self: center;
}

/*------------------------------------*\
  计算器
\*------------------------------------*/

.simulator[calculator] {
    --primary-color: #00BCD4;
    --secondary-color: #1DE9B6;
    font-family: 'Roboto';
}

.simulator[calculator] .system-layer .status-bar-background {
    background-color: var(--status-bar-background-color);
}

.simulator[calculator] .display {
    top: 0px;
    position: sticky;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 39px;
    background-color: var(--medium-emphasis-surface-color);
    box-shadow: var(--shadow-z4);
    overflow: hidden;
}

.simulator[calculator] .toolbar {
    order: -1;
    margin-top: 24px;
}

.simulator[calculator] .toolbar button {
    color: var(--secondary-text-color);
}

.simulator[calculator] .expression {
    padding-right: calc(var(--keyline) - 12px);
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: 0.2em;
}

.simulator[calculator] .result {
    padding-right: calc(var(--keyline) - 4px);
    color: var(--hint-text-color);
    font-weight: 300;
    margin-top: 21px;
    letter-spacing: 0.1em;
}

.simulator[calculator] .panel {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding-right: 16px;
    padding-bottom: 48px;
}

.simulator[calculator] .panel button {
    text-transform: initial;
    color: var(--primary-text-color);
}

.simulator[calculator] .panel button span {
    font-weight: 300;
}

.simulator[calculator] .scrim:not(.on) {
    opacity: 0;
}

.simulator[calculator] .numeric {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #424242;
    flex-grow: 1;
    padding: 4px 8px;
    box-sizing: content-box;
}

.simulator[calculator] .operator {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: #616161;
    padding: 4px 12px;
    box-sizing: content-box;
}

.simulator[calculator] .operator button:nth-of-type(2) {
    grid-row-start: 1;
}

.simulator[calculator] .operator button:nth-of-type(4), .simulator[calculator] .operator button:nth-of-type(5) {
    grid-column-start: 1;
}

.simulator[calculator] .operator button:last-of-type {
    display: none;
}

.simulator[calculator] .advanced {
    position: absolute;
    width: calc(100% - var(--increment));
    height: 100%;
    display: grid;
    flex-grow: 1;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    box-sizing: border-box;
    padding: 4px 8px 52px 8px;
    background-color: var(--secondary-color);
    transform: translateX(calc(100% + var(--increment) - 16px));
}

@media screen and (min-width:921px) {
    .diagram-wrapper[screen~=tablet] .simulator[calculator] .panel {
        padding-right: unset;
    }
    .diagram-wrapper[screen~=tablet] .simulator[calculator] .numeric button:last-of-type {
        display: none;
    }
    .diagram-wrapper[screen~=tablet] .simulator[calculator] .expression {
        margin-top: 4px;
    }
    .diagram-wrapper[screen~=tablet] .simulator[calculator] .operator {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .diagram-wrapper[screen~=tablet] .simulator[calculator] .operator button:nth-of-type(2) {
        grid-row-start: unset;
    }
    .diagram-wrapper[screen~=tablet] .simulator[calculator] .operator button:last-of-type {
        display: unset;
    }
    .diagram-wrapper[screen~=tablet] .simulator[calculator] .scrim {
        display: none;
    }
    .diagram-wrapper[screen~=tablet] .simulator[calculator] .advanced {
        position: relative;
        width: auto;
        height: auto;
        box-sizing: content-box;
        padding-bottom: 4px;
        transform: none;
    }
}

@media (prefers-color-scheme: dark) {
    .simulator[calculator] .numeric {
        background-color: #212121;
    }
    .simulator[calculator] .operator {
        background-color: #303030;
    }
    .simulator[calculator] .display {
        background-color: #424242;
    }
    .simulator[calculator] .display .status-bar-background {
        background-color: #212121;
    }
}

/*------------------------------------*\
  日历
\*------------------------------------*/

.simulator[calendar] {
    --secondary-color: #FF5252;
}

.simulator[calendar=goals] .status-bar-background {
    background-color: #F4D380;
}

.simulator[calendar=goals] .application {
    background-color: #FFDD86;
}

.simulator[calendar=goals] .app-bar {
    background-color: transparent;
    box-shadow: var(--shadow-z0);
}

.simulator[calendar=goals] .application>img {
    position: absolute;
    bottom: 0;
    height: 200px;
    margin-bottom: 48px;
    align-self: center;
}

.simulator[calendar=goals] ul li {
    padding: 0 calc(var(--keyline) + var(--increment));
}

.simulator[calendar=goals] ul li:first-of-type {
    margin-bottom: 8px;
}

/*------------------------------------*\
  相机
\*------------------------------------*/

.simulator[camera=main] .status-bar {
    transform: translateY(-100%);
}

.simulator[camera=main] .application {
    padding-bottom: 48px;
    background-color: #000000;
    color: var(--primary-text-color);
}

.simulator[camera=main] .view {
    position: relative;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column-reverse;
}

.simulator[camera=main] .view img {
    position: absolute;
    height: 100%;
}

.simulator[camera=main] .tools {
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    background-color: rgba(0, 0, 0, 0.3);
}

.simulator[camera=main] .actions {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #212121;
}

.simulator[camera=main] .actions>span:last-of-type {
    font-size: 48px;
}

.simulator[camera=main] .thumbnail {
    border-radius: 50%;
    background-color: #616161;
}

/*------------------------------------*\
  信息
\*------------------------------------*/

.simulator[messenger] {
    --primary-color: #0288d1;
}

.simulator[messenger] .status-bar-background {
    background-color: #0277bd;
}

.simulator[messenger] .fab {
    right: var(--keyline);
    bottom: calc(48px + var(--keyline));
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.simulator[messenger="main"] .application>ul {
    padding: 8px 0;
}

.simulator[messenger="main"] .application>ul>.list {
    padding: 0 var(--keyline);
    grid-template-columns: 56px auto;
}

.simulator[messenger="main"] .application>ul>.list[class~=attached] {
    grid-template-columns: 56px auto auto;
}

.simulator[messenger="main"] .list img {
    width: auto;
    height: var(--increment);
    margin-top: var(--keyline);
    justify-self: right;
}

.simulator[messenger="main"] .list[line=multiple] .secondary-text:first-child:not([lang=zh-Hans]) {
    margin-top: -0.0625rem;
}

.simulator[messenger="main"] .application>ul>.list .secondary-text[lang=zh-Hans]:last-child:not([lang=zh-Hans]){
    margin-top: 0.0625rem;
}

.simulator[messenger="main"] .application>ul>.list .secondary-text[lang=zh-Hans]+.secondary-text:not([lang=zh-Hans]) {
    margin-top: 0.125rem;
}

.simulator[messenger="main"] .unread .primary-text {
    font-weight: 500;
}

.simulator[messenger="main"] .unread .secondary-text:first-child {
    color: var(--primary-text-color);
    font-weight: 500;
}