footer .right {
  padding-left: 50%;
}

/*------------------------------------*\
  正文
\*------------------------------------*/

main>picture {
  background-color: #ffeb3b;
}

#goals figure {
  grid-column-end: span min(var(--max-block), 2);
}

#language picture {
  height: 360px;
  background-color: #1f4388;
  align-items: stretch;
}

#system .diagram {
  background-color: #4dd0e1;
  height: 360px;
  align-items: stretch;
  justify-content: center;
  padding: 60px 0;
  gap: 16px;
}

#system .surface {
  position: relative;
  background-color: var(--medium-emphasis-surface-color);
  border-radius: 2px;
  box-shadow: var(--shadow-z2);
}

#system .surface:nth-child(1) {
  width: 24px;
}

#system .surface:nth-child(2) {
  width: 48px;
}

#system .surface:nth-child(3) {
  width: 80px;
}

#system .surface:nth-child(4) {
  width: 136px;
}

#system .surface:nth-child(5) {
  width: 288px;
}

#principles figure {
  aspect-ratio: 1/1;
}

#metaphor {
  background-color: #b4e0e1;
}

#bold-graphic-intentional {
  background-color: #ea1b75;
}

#motion {
  background-color: #8f4099;
}

@media screen and (max-width: 920px) {
  #language .illustration {
    height: 480px;
  }
  #system .diagram {
    height: 480px;
    padding: 0 36px;
    flex-direction: column;
  }
  #system .diagram .surface {
    width: auto;
  }
  #system .surface:nth-child(1) {
    height: 12px;
  }
  #system .surface:nth-child(2) {
    height: 24px;
  }
  #system .surface:nth-child(3) {
    height: 40px;
  }
  #system .surface:nth-child(4) {
    height: 80px;
  }
  #system .surface:nth-child(5) {
    height: 168px;
  }
}

/*------------------------------------*\
  主题
\*------------------------------------*/

:root {
  --primary-color: #00bcd4;
  --secondary-color: #eeff41;
}

::selection {
  color: rgba(0, 0, 0, 0.87);
  background-color: var(--secondary-color);
}

button,
footer {
  --states-parameter: 2;
}
