footer .right {
    padding-left: 50%;
}

/*------------------------------------*\
  正文
\*------------------------------------*/

.chapter-diagram {
    background-color: #ffeb3b;
}

#goal-language {
    grid-column-end: span min(var(--max-block), 2);
    height: 360px;
    background-color: #1f4388;
}

#goal-system {
    grid-column-end: span min(var(--max-block), 2);
    background-color: #4dd0e1;
    height: 360px;
    align-items: stretch;
    justify-content: center;
    padding: 60px 0;
    gap: 16px;
}

#goal-system .surface {
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: var(--shadow-z2);
}

#goal-system .surface:nth-child(1) {
    inline-size: 24px;
}

#goal-system .surface:nth-child(2) {
    inline-size: 48px;
}

#goal-system .surface:nth-child(3) {
    inline-size: 80px;
}

#goal-system .surface:nth-child(4) {
    inline-size: 136px;
}

#goal-system .surface:nth-child(5) {
    inline-size: 288px;
}

#principles-metaphor {
    aspect-ratio: 1/1;
    background-color: #b4e0e1;
}

#principles-bold-graphic-intentional {
    aspect-ratio: 1/1;
    background-color: #ea1b75;
}

#principles-motion {
    aspect-ratio: 1/1;
    background-color: #8F4099;
}

@media screen and (max-width:920px) {
    #goal-language {
        height: 480px;
    }
    #goal-system {
        height: 480px;
        writing-mode: vertical-rl;
        padding: 0 36px;
    }
    #goal-system .surface:nth-child(1) {
        height: 12px;
    }
    #goal-system .surface:nth-child(2) {
        height: 24px;
    }
    #goal-system .surface:nth-child(3) {
        height: 40px;
    }
    #goal-system .surface:nth-child(4) {
        height: 80px;
    }
    #goal-system .surface:nth-child(5) {
        height: 168px;
    }
}

/*------------------------------------*\
  主题
\*------------------------------------*/

:root {
    --primary-color: #00bcd4;
}

button, footer {
    --states-parameter: 2;
}