/*------------------------------------*\
  正文
\*------------------------------------*/

.diagram img {
  width: 100%;
}

#specific-imagery, #minimal-distractions, #communicates-concept, #contextualized {
  grid-column-start: max(1, calc(var(--max-block) - 1));
}

#minimal-distractions .diagram {
  height: 272px;
  align-items: flex-end;
}

#minimal-distractions .diagram img {
  position: absolute;
  width: auto;
  height: 304px;
  transform: translateX(31px);
}

#communicates-concept .diagram, #meaningless-imagery .diagram {
  height: 272px;
}

#communicates-concept .diagram img, #meaningless-imagery .diagram img {
  height: 100%;
  object-position: left;
}

#smooth-gradient {
  grid-column-end: span min(var(--max-block), 2);
}

#smooth-gradient .diagram {
  height: 480px;
}

#over-scrim .scrim {
  height: calc(3 * var(--increment));
  opacity: 0.5;
}

#over-scrim .status-bar-background {
  background-color: rgba(0, 0, 0, 0.6);
}

/*------------------------------------*\
  主题
\*------------------------------------*/

:root {
  --primary-color: #00897b;
}

@media (prefers-color-scheme: dark) {
  body>aside>nav, .content-body {
    --primary-color: #26A69A;
  }
}